<div class="container-fluid navbarCont">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/officeBrandLogo.jpg" alt="Office Brand Logo">
    </a>
    <span class="navbar-text">
    <h3> Web-X Management </h3>
    </span>
  </nav>
</div>
<div class="container-fluid PageContWrap">
  <div class="row">
    <div class="col-lg-12">
      <nav class="custTabCls">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
          <a class="nav-item nav-link" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="false">User & Organisations</a>
          <a class="nav-item nav-link" id="nav-product-tab" data-toggle="tab" href="#nav-product" role="tab" aria-controls="nav-product" aria-selected="false">Products & Prices</a>
          <a class="nav-item nav-link" id="nav-catalogue-tab" data-toggle="tab" href="#nav-catalogue" role="tab" aria-controls="nav-catalogue" aria-selected="false">Catalogues</a>
          <a class="nav-item nav-link" id="nav-filter-tab" data-toggle="tab" href="#nav-filter" role="tab" aria-controls="nav-filter" aria-selected="false">Filters</a>
          <a class="nav-item nav-link" id="nav-regionsetting-tab" data-toggle="tab" href="#nav-regionsetting" role="tab" aria-controls="nav-regionsetting" aria-selected="false">Store & Region Settings</a>
        </div>
      </nav>
    </div>
  </div>
</div>
