<!-- Modal Add Customer-->
<div class="modal fade addCustomerModal" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><span>Add Customer</span> <span>Edit Customer</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #orgDetailForm="ngForm" (ngSubmit)="addCustomer()">
        <div class="modal-body">

          <div class="form-group row">
            <label for="orgEntityName" class="col-sm-3 col-form-label">Customer Name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="orgEntityName"
                     [(ngModel)]="orgDetail.orgEntityName" name="orgEntityName" #orgEntityName="ngModel">
            </div>
          </div>

          <div class="form-group row">
            <label for="address1" class="col-sm-3 col-form-label">Address:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="address1"
                     [(ngModel)]="orgDetail.address1" name="address1" #address1="ngModel">
            </div>
          </div>

          <div class="form-group row">
            <label for="address2" class="col-sm-3 col-form-label">Address:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="address2"
                     [(ngModel)]="orgDetail.address2" name="address2" #address2="ngModel">
            </div>
          </div>

          <div class="form-group row">
            <label for="city" class="col-sm-3 col-form-label">City:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="city"
                     [(ngModel)]="orgDetail.city" name="city" #city="ngModel">
            </div>
          </div>

          <input type="hidden" class="form-control" id="orgEntityType" value="O"
                 [(ngModel)]="orgDetail.orgEntityType" name="orgEntityType" #orgEntityType="ngModel">
          <input type="hidden" class="form-control" id="parentMemberId" value="-2001"
                 [(ngModel)]="orgDetail.parentMemberId" name="parentMemberId" #parentMemberId="ngModel">

          <div class="form-group row">
            <label for="zipCode" class="col-sm-3 col-form-label">Postcode:</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="zipCode"
                     [(ngModel)]="orgDetail.zipCode" name="zipCode" #zipCode="ngModel">
            </div>
            <label for="state" class="col-sm-2 col-form-label text-right">Suburb:</label>
            <div class="col-sm-4">
              <select class="form-control" id="state"
                      [(ngModel)]="orgDetail.state" name="state" #state="ngModel">
                <option value="AU-ACT" selected="selected">Australian Capital Territory</option>
                <option value="AU-NSW">New South Wales</option>
                <option value="AU-NT">Northern Territory</option>
                <option value="AU-QLD">Queensland</option>
                <option value="AU-SA">South Australia</option>
                <option value="AU-TAS">Tasmania</option>
                <option value="AU-VIC">Victoria</option>
                <option value="AU-WA">Western Australia</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="country" class="col-sm-3 col-form-label">Country:</label>
            <div class="col-sm-9">
              <select class="form-control" id="country"
                      [(ngModel)]="orgDetail.country" name="country" #country="ngModel">
                <option value="Australia" selected="selected">Australia</option>
              </select>
            </div>
          </div>

          <!--<div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Contract:</label>
            <div class="col-sm-5">
              <select class="form-control" id="exampleFormControlSelect14">
                <option>List</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>-->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-PrimaryModal" [disabled]="!orgDetailForm.form.valid">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
