<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<app-header></app-header>
<div class="container-fluid PageContWrap prodPageCont">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">
        <form>
          <div class="form-row align-items-center userSearchRow">
              <div class="col-auto">
                <div class="mb-2">
                  <label class="form-check-label font-weight-bold">Active Product List</label>
                </div>
              </div>
  
              <div class="col-4 col-sm-3">
                <input type="text" [disabled]="showContractDetailTable === false" class="form-control searchIcon" id="searchTerm" #searchTerm (keyup.enter)="searchOnEnter(searchTerm.value)"
                  placeholder="Search Code or Description">
              </div>
              
              <div class="col text-right">
                  <div>
                    <button type="button" class="btn btn-PrimaryModal btn-default" data-toggle="modal" data-target="#addNewContract" (click)="resetForm()">New Contract</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addCustomer">Download to Excel</button>
                    <button type="button" class="btn btn-PrimaryModal btn-default" routerLink="/product-prices" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">View Pricing</button>
                    <button type="button" *ngIf="selectedContractID !== ''" class="btn btn-primary" data-toggle="modal" data-target="#addNewItem" (click)="resetForm()">Add Item</button>
                  </div>
                </div>
            </div>
          </form>


          <app-alert></app-alert>
            <div class="productContractGrid">
              <div class="row">
              <div class="col col-md-3 float-left">
                <div><label for="contractId" class="searchIconNew">Select Contract here</label></div>
                <img style="display:inline;" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <input type="text" list="contractDatalist" *ngIf="!loading" class="form-control" [(ngModel)]="selectedContractName" name="selectedID" placeholder="Select Contract" required (change)="getContractId(selectedContractName)" (keyup)="getContractId(selectedContractName)">
                  <datalist id="contractDatalist">
                    <option *ngFor="let item of contractList" [value]="item.contractName">
                  </datalist>
                  <input type="hidden" [value]="selectedContractID" [(ngModel)]="selectedContractID" name="contractId" #contractIdtext="ngModel" />
                  <div class="text-right mt-3"><button type="button" [disabled]="selectedContractID === ''" class="btn btn-primary" (click)="openContractDetail()">Search Contract</button></div>

                  <div><span>{{priceList}}</span></div>
                  <div><span>{{catalogFilter}}</span></div>
                  <div class="mt-3 editContractView">
                      <div class="card bg-light mb-3">
                          <div class="card-header">Contracts</div>
                          <div class="card-body">
                            <div class="row">
                            <div class="col-sm-4 col-md-4"><span>Account</span></div>
                            <div class="col-sm-8"><span>Charles Darwin Universtiy</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><span>Description</span></div>
                                <div class="col-sm-8"><span>1 HOLE PLASTIC PENCIL SHARPENER</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><span>Price</span></div>
                                <div class="col-sm-8"><span>$0.08</span></div>
                            </div>
                            <div class="row">
                              <div class="col-sm-4"><span>Start Date:</span></div>
                              <div class="col-sm-8"><span>22/11/2018</span></div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4"><span>End Date</span></div>
                            <div class="col-sm-8"><span>26/11/2018</span></div>
                        </div>
                        <div class="row mt-3 border-0">
                          <div class="col-sm-12 text-center"><button class="btn btn-PrimaryModal btn-default" type="button">Edit Contract</button></div>
                         
                      </div>
                          </div>
                        </div>
                  </div>
                 
              </div>
              <div class="col col-md-9 float-left table-responsive" *ngIf="showContractDetailTable">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price (Ex GST)</th>
                    <th scope="col">Actions</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pagedItems; let i = index">
                    <td>{{item.partnumber}}</td>
                    <td class="tableDataDesc"><span title="{{item.description}}">{{item.description}}</span></td>
                    <td>
                        <div class="d-flex justify-content-center custPriceEdit" [class.show]="i == showEdit">
                            <div class="priceLabel"><label>${{item.price | number:'1.2-2'}}</label></div>
                            <div class="priceEditField">
                              <div>
                                <input type="number" class="form-control" class="editPriceInput" [(ngModel)]="newItemPrice" #newItemPric='ngModel'>
                                <button type="submit" class="btn btn-primary" (click)="updateContractPrice(item.partnumber)">&#10004;</button>
                                <button type="submit" class="btn btn-danger" (click)="cancelContractPriceEdit()">&#10006;</button>
                              </div>
                            </div>
                          </div>                       
                    </td>
                    <td>
                      <a (click)="showEditPrice(i,item.price)">Edit Price</a> 
                      <a role="button" data-toggle="modal" data-target="#addCustomers" (click)="getCustomerforItem(item.partnumber, item.price);">Customers</a>
                      <a role="button" data-toggle="modal" data-target="#deleteCustomers" (click)="deletePartnumber = item.partnumber">Delete</a></td>
                  </tr>
                </tbody>
              </table>
               <!-- Pagination -->
               <ul *ngIf="showPagination" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                    <a (click)="setPage(1)" class="page-link">First</a>
                   </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                    <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                    <a (click)="setPage(page)" class="page-link">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                    <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                    <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
                   </li>
                </ul>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--Modal Add New Contracts-->
<div class="modal fade newContractModal" id="addNewContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"><span>Add New Contract</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #addContractForm="ngForm" novalidate>
        <div class="modal-body">
         <div class="form-group row">
          <label for="accountName" class="col-sm-3 col-form-label">Account Name: <span class="text-danger">*</span></label>
            <div class="col-sm-9">

                  <input type="text" list="customerDatalist" *ngIf="!loading" class="form-control" required
                  [(ngModel)]="contract.accountName" name="accountName" placeholder="Select Account">
                  <datalist id="customerDatalist">
                    <option *ngFor="let item of ItemCustomerList" [value]="item.customerName">
                  </datalist>

                  <div *ngIf="addContractForm.submitted && accountName.invalid" class="invalid-feedback">
                      <div *ngIf="!!accountName.errors.required">Account Name is required</div>
                  </div>
            </div>
         </div>
  
         <div class="form-group row">
          <label for="contractName" class="col-sm-3 col-form-label">Contract Name: <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" id="contractName" class="form-control" required
                [(ngModel)]="contract.contractName" name="contractName" #contractName="ngModel"
                [ngClass]="{ 'is-invalid': addContractForm.submitted && contractName.invalid }">
                <div *ngIf="addContractForm.submitted && contractName.invalid" class="invalid-feedback">
                    <div *ngIf="!!contractName.errors.required">Contract Name is required</div>
                </div>
            </div>
         </div>
          <div class="form-group row">
          <label for="chargeBy" class="col-sm-3 col-form-label">Charges by: <span class="text-danger">*</span></label>
            <div class="col-sm-3">
                <select id="chargeBy" class="form-control" required [(ngModel)]="contract.chargeBy" name="chargeBy" #chargeBy="ngModel"
                [ngClass]="{ 'is-invalid': addContractForm.submitted && chargeBy.invalid }">
                  <option (value)="seller">Seller</option>
                  <option (value)="buyer">Buyer</option>
                </select>
                <div *ngIf="addContractForm.submitted && chargeBy.invalid" class="invalid-feedback">
                    <div *ngIf="!!chargeBy.errors.required">Charges By is required</div>
                </div>
            </div>
            <label for="shipBy" class="col-sm-3 col-form-label text-right">Ship By: <span class="text-danger">*</span></label>
                <div class="col-sm-3">
                    <select id="shipBy" class="form-control" required [(ngModel)]="contract.shipBy" name="shipBy" #shipBy="ngModel"
                    [ngClass]="{ 'is-invalid': addContractForm.submitted && shipBy.invalid }">
                      <option (value)="courier">Courier</option>
                      <option (value)="pickup">Pick Up</option>
                    </select>
                    <div *ngIf="addContractForm.submitted && shipBy.invalid" class="invalid-feedback">
                        <div *ngIf="!!shipBy.errors.required">Ship by is required</div>
                    </div>
                </div>
         </div>
          
         <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Start Date:</label>
            <div class="col-sm-3">
                <input class="form-control startDate" placeholder="MM-DD-YYYY" type="text"
                name="startDate" [(ngModel)]="contract.startDate" #startDate="ngModel">
            </div>
            <label for="inputPassword" class="col-sm-3 col-form-label text-right">End Date:</label>
            <div class="col-sm-3">
                <input class="form-control endDate" placeholder="No expiry" type="text"
                name="endDate" [(ngModel)]="contract.endDate" #endDate="ngModel">
            </div>
         </div>



         <div class="form-group row">
            <label for="shortDescription" class="col-sm-3 col-form-label">Short Description: <span class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="text" id="shortDescription" class="form-control" required [(ngModel)]="contract.shortDescription" name="shortDescription" #shortDescription="ngModel"
                  [ngClass]="{ 'is-invalid': addContractForm.submitted && shortDescription.invalid }">
                  <div *ngIf="addContractForm.submitted && shortDescription.invalid" class="invalid-feedback">
                      <div *ngIf="!!shortDescription.errors.required">Short Description is required</div>
                  </div>
              </div>
           </div> 
          <div class="form-group row">
          <label for="longDescription" class="col-sm-3 col-form-label">Long Description:</label>
            <div class="col-sm-9">
                <input type="text" id="longDescription" class="form-control"
                [(ngModel)]="contract.longDescription" name="longDescription" #longDescription="ngModel"
                [ngClass]="{ 'is-invalid': addContractForm.submitted && longDescription.invalid }">
            </div>
         </div>
  
          <div class="form-group row">
          <label for="minOrdAmount" class="col-sm-3 col-form-label">Min Order Amount:</label>
            <div class="col-sm-9">
                <input type="text" id="minOrdAmount" class="form-control"
                [(ngModel)]="contract.minOrdAmnt" name="minOrdAmnt" #minOrdAmnt="ngModel"
                [ngClass]="{ 'is-invalid': addContractForm.submitted && minOrdAmnt.invalid }">
            </div>
         </div> 
             
             <div class="form-group row">
                <label for="includeWholeCatalog" class="col-sm-3 col-form-label">Include Whole Catalog:</label>
                  <div class="col-sm-9">
                      <input type="checkbox" id="includeWholeCatalog" class="form-check-label" (change)="switchWholeCatalog($event)"
                      name="includeWholeCatalog" checked
                      [ngClass]="{ 'is-invalid': addContractForm.submitted && includeWholeCatalog.invalid }">
                  </div>
               </div> 
               <div class="card bg-light mb-3" *ngIf="showWholeCatalog">
                  <div class="card-body"> 
                    <div class="form-row mb-3">
                        <label for="includeWholeCatalogAdjType" class="col-sm-6 col-form-label">Include Whole Catalog Adjustment Type: <span class="text-danger">*</span></label>
                        <div class="col-sm-6">
                            <select id="includeWholeCatalogAdjType" class="form-control" [(ngModel)]="contract.includeWholeCatalogAdjType" name="includeWholeCatalogAdjType" #includeWholeCatalogAdjType="ngModel"
                            [ngClass]="{ 'is-invalid': addContractForm.submitted && includeWholeCatalogAdjType.invalid }">
                              <option (value)="m">Mark Up</option>
                              <option (value)="d">Mark Down</option>
                            </select>
                        </div>
                    </div>
                        <div class="form-row">
                        <label for="includeWholeCatalogAdjustment" class="col-sm-6 col-form-label">Include Whole Catalog Adjustment: <span class="text-danger">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" id="includeWholeCatalogAdjustment" class="form-control"
                            [(ngModel)]="contract.includeWholeCatalogAdjustment" name="includeWholeCatalogAdjustment" #includeWholeCatalogAdjustment="ngModel"
                            [ngClass]="{ 'is-invalid': addContractForm.submitted && includeWholeCatalogAdjustment.invalid }">
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <span><small class="text-danger">Select a price level or contract reference from below fields</small></span>
                  </div>
                   
                  </div>
                 <div class="form-group row">
                    <label for="priceLevel" class="col-sm-3 col-form-label">Price Level:</label>
                      <div class="col-sm-9">
                          <select id="priceLevel" class="form-control" [disabled]="contract.contractReference != '' && contract.contractReference != null" [required]="!contract.contractReference" [(ngModel)]="contract.priceLevel" name="priceLevel" #priceLevel="ngModel"
                          [ngClass]="{ 'is-invalid': addContractForm.submitted && priceLevel.invalid }">
                            <option value="">Select Price Level</option>
                            <option (value)="1">1</option>
                            <option (value)="2">2</option>
                            <option (value)="s1">S1</option>
                            <option (value)="s2">S2</option>
                          </select>
                          <div *ngIf="addContractForm.submitted && priceLevel.invalid" class="invalid-feedback">
                              <div *ngIf="!!priceLevel.errors.required">Price level is required</div>
                          </div>
                      </div>
                   </div>
                 <div class="form-group row">
                    <label for="contractRefrence" class="col-sm-3 col-form-label">Contract Reference:</label>
                      <div class="col-sm-9">
                          <select id="contractReference" class="form-control" [disabled]="contract.priceLevel != '' && contract.priceLevel != null" [required]="!contract.priceLevel" [(ngModel)]="contract.contractReference" name="contractReference" #contractReference="ngModel"
                          [ngClass]="{ 'is-invalid': addContractForm.submitted && contractReference.invalid }">
                            <option value="">Select Contract Reference</option>
                            <option *ngFor="let item of baseContractList" (value)="item">{{item}}</option>
                          </select>
                      </div>
                   </div> 
                 
        </div>
        <div class="modal-footer">
          <button type="button" id="addNewContractModalClose" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-PrimaryModal" (click)="addNewContract()">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
<!--Modal Add Customers-->
<div class="modal fade addCustomersModal" id="addCustomers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"><span>Add Customers</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
        <div class="modal-body">
          <form>
           <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Search Customers <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" list="customerDatalist" *ngIf="!loading" class="form-control" required
                        [(ngModel)]="selectedId" name="selectedId" (change)="getItemCustomerAccountId(selectedId)" placeholder="Select Customer">
                        <datalist id="customerDatalist">
                          <option *ngFor="let item of ItemCustomerList" [value]="item.customerName">
                        </datalist>
                        <input type="hidden" [value]="userDetail.parentMemberId" [(ngModel)]="userDetail.parentMemberId" name="parentMemberId" #parentMemberIdtext="ngModel" />
            </div>
         </div>
  
         <div class="form-group row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                     Selected Customers
                    </div>
                    <div class="card-body">
                        <div class="custSelectDisplay">
                          <div class="row">
                            <div *ngFor="let item of selectedCustomer">
                                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                                    {{item.customerName}}
                                    <input hidden [value]="item.accountId" />
                                    <button type="button" class="close" aria-label="Close" (click)="removeSelectedCustomers(item.accountId)">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                            </div>
                          </div>
                          </div>
                    </div>
                  </div>
            </div>
         </div>
        </form>
   </div>
        <div class="modal-footer">
          <button type="button" id="selectCustomerPopupClose" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="button" [disabled]='this.selectedCustomer.length == 0' class="btn btn-PrimaryModal" (click)="sendSeletedCustomers();">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!--Modal Delete Customers-->
  <div class="modal deleteCustomersModal" id="deleteCustomers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"><span>Are you sure want to Delete ?</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteContractItem();">Delete</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <!--Modal Add New Item-->
    <div class="modal fade addNewItem" id="addNewItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewItemTitle"><span>Add New Item</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form #addItemForm='ngForm'>
          <div class="modal-body">
           <div class="form-group row">
            <label class="col-sm-3 col-form-label">Contract Name: <span class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="text" list="contractDatalist" disabled class="form-control" [(ngModel)]="selectedContractName" name="selectedID" placeholder="Select Contract" required >
                  <input type="hidden" [value]="selectedContractID" [(ngModel)]="selectedContractID" name="contractId" #contractIdtext="ngModel" />
              </div>
           </div>
    
           <div class="form-group row">
            <label class="col-sm-3 col-form-label">Product Code: <span class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="text" class="form-control searchIcon" id="searchProductTerm" [(ngModel)]="contractItem.partNumber" name="partnumber" #partnumber="ngModel" #searchProductTerm (keyup.enter)="getProductList(searchProductTerm.value)"
                       appAutofocus placeholder="Enter Code or Description and Press Enter" required>
                       <img style="display:inline;" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  <button type="button" style="display:none;" id="openProductListButton" data-toggle="modal" data-target="#productListModal">productListModal</button>
                 
                  <div *ngIf="addItemForm.submitted && partnumber.invalid" class="invalid-feedback">
                      <div *ngIf="!!partnumber.errors.required">Product code is required</div>
                  </div>
              </div>
           </div>
            <div class="form-group row">
            <label class="col-sm-3 col-form-label">Price: <span class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="text" id="productPrice" class="form-control" required
                  [(ngModel)]="contractItem.itemFixedPrice" name="productPrice" #productPrice="ngModel"
                  [ngClass]="{ 'is-invalid': addItemForm.submitted && productPrice.invalid }">
                  <div *ngIf="addItemForm.submitted && productPrice.invalid" class="invalid-feedback">
                      <div *ngIf="!!productPrice.errors.required">Price is required</div>
                  </div>
              </div>
           </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="addContractItemClose" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-PrimaryModal" (click)="saveAddItem();">Save</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <!-- Search Product List popup -->
    <div class="modal fade productListModal" id="productListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered model-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="productListCenterTitle"><span>Product List</span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive productListGrid">
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Product Number</th>
                      <th scope="col">Short Description</th>

                  </thead>
                  <tbody>
                    <tr *ngFor="let item of productList" (click)="selectFromProductList(item.partnumber)">
                        <td scope="col"> {{item.partnumber}}</td>
                        <td scope="col" class="tableDataDesc"><span title="{{item.description}}">{{item.description}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="prodListClose" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
