<app-header></app-header>
<div class="container-fluid PageContWrap prodPageCont">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">
        <form>
          <div class="form-row align-items-center userSearchRow">
              <div class="col-auto">
                <div class="mb-2">
                  <label class="form-check-label font-weight-bold">Active Product List</label>
                </div>
              </div>
  
              <div class="col-4 col-sm-3">
                <input type="text" class="form-control searchIcon" id="searchTerm" #searchTerm (keyup.enter)="onEnter(searchTerm.value)"
                       appAutofocus placeholder="Search Code or Description">
              </div>
              
              <div class="col text-right">
                  <div>
                    <button type="button" class="btn btn-PrimaryModal btn-default" data-toggle="modal" data-target="#addNewContract" (click)="contractForm.reset()">New Contract</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addCustomer" (click)="orgDetailForm.reset()">Download to Excel</button>
                    <button type="button" class="btn btn-PrimaryModal btn-default" routerLink="/product-prices" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">View Pricing</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adduser" (click)="userForm.reset()">Add Item</button>
                  </div>
                </div>
            </div>
          </form>



            <div class="productContractGrid">
              <div class="row">
              <div class="col col-md-3 float-left">
                <div><label for="parentMemberId" class="searchIconNew">Contract</label></div>
                <input type="text" list="customerDatalist" class="form-control" [(ngModel)]="selectedId" id="customerSelectBox" required (change)="getOrgEntryId(selectedId)">
                  <datalist id="customerDatalist">
                    <option *ngFor="let item of customerList" [value]="item.orgEntityName">
                  </datalist>
                  <input type="hidden" [value]="userDetail.parentMemberId" [(ngModel)]="userDetail.parentMemberId" name="parentMemberId" #parentMemberIdtext="ngModel" />
              </div>
              <div class="col col-md-9 float-left table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price (Ex GST)</th>
                    <th scope="col">Actions</th>
                </thead>
                <tbody>
                  <tr>
                    <td>4000587</td>
                    <td>Initiative A4 Office</td>
                    <td>
                        <div class="d-flex justify-content-center custPriceEdit">
                            <div><label>$5.87</label></div>
                            <div><input type="text" class="form-control" id="inlineFormInputName2"></div>
                            <div><button type="submit" class="btn btn-primary">&#10004;</button></div>
                            <div><button type="submit" class="btn btn-danger">&#10006;</button></div>
                          </div>                       
                    </td>
                    <td><a href="">Edit Price</a> 
                      <a href="#" role="button" data-toggle="modal" data-target="#addCustomers">Customers</a>
                      <a href="#" role="button" data-toggle="modal" data-target="#deleteCustomers">Delete</a></td>
                  </tr>

                </tbody>
              </table>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--Modal Add New Contracts-->
<div class="modal fade newContractModal" id="addNewContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"><span>Add New Contract</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #contractForm="ngForm" novalidate>
        <div class="modal-body">
         <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Account Name:</label>
            <div class="col-sm-9">
                <input list="browsers" name="browser" class="form-control">
                <datalist id="browsers">
                  <option value="Acc 1">
                  <option value="Acc 2">
                  <option value="Acc 3">
                  <option value="Acc 4">
                  <option value="Acc 5">
                </datalist>
            </div>
         </div>
  
         <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Contract Name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div>
          <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Charges by:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div>
          <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Start Date:</label>
            <div class="col col-xs-9">
                <form class="form-inline">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" required pattern="\d{1,2}/\d{1,2}/\d{4}" title="Enter a date in this format YYYY-MM-DD"
                               name="startDate" [(ngModel)]="startDateModel" ngbDatepicker #startDate="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()" type="button"></button>
                        </div>
                      </div>
                    </div>
                  </form>
            </div>
            <label for="inputPassword" class="col-xs-6 col-form-label">End Date:</label>
            <div class="col col-xs-6">
                <form class="form-inline">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])/(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])/(?:30))|(?:(?:0[13578]|1[02])-31))" title="Enter a date in this format YYYY-MM-DD"
                               name="endDate" [(ngModel)]="endDateModel" ngbDatepicker #endDate="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()" type="button"></button>
                        </div>
                      </div>
                    </div>
                  </form>
            </div>
         </div>
  
          <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Long Description:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div>
  
          <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Min Order Amount:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div> 
         <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Price Level:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control">
              </div>
           </div>
           <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Ship By:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
             </div> 
                 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-PrimaryModal">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
<!--Modal Add Customers-->
<div class="modal fade addCustomersModal" id="addCustomers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"><span>Add Customers</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
        <div class="modal-body">
          <form>
           <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Search Customers</label>
            <div class="col-sm-9">
                <input list="browsers" name="browser" class="form-control">
                <datalist id="browsers">
                  <option value="Acc 1">
                  <option value="Acc 2">
                  <option value="Acc 3">
                  <option value="Acc 4">
                  <option value="Acc 5">
                </datalist>
            </div>
         </div>
  
         <div class="form-group row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-header">
                     Selected Customers
                    </div>
                    <div class="card-body">
                        <div class="custSelectDisplay">
                    
                          <div class="row">
                            <div class="col">
                                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                                    Abbott Financial - Infocus Money Management-Infocus Money Management
                                    <button type="button" class="close" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                                    ANINDILYAKWA SERVICES ABORIGINAL CORPORATION (ASAC)
                                    <button type="button" class="close" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                            </div>

                          </div>

                               
                          </div>
                    </div>
                  </div>

              
            </div>
         </div>
        </form>
   </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-PrimaryModal">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!--Modal Delete Customers-->
  <div class="modal deleteCustomersModal" id="deleteCustomers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"><span>Are you sure want to Delete ?</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </form>
        </div>
      </div>
    </div>