<div class="container-fluid navbarCont">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/officeBrandLogo.jpg" alt="Office Brand Logo">
    </a>
    <span class="navbar-text">
    <h3> Web-X Management </h3>
    </span>
    <div class="col-auto text-right">
      <div class="mb-2">
        <button type="button" class="btn btn-secondary" (click)="onLogOut()">Sign out</button>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid PageContWrap">
  <div class="row">
    <div class="col-lg-12">
      <nav class="custTabCls">
        <div id="nav-tab" role="tablist">
          <ul class="nav nav-tabs">
          <li><a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
          <li><a class="nav-item nav-link" routerLink="/users-org" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">User & Organisations</a></li>
          <li><a class="nav-item nav-link" id="nav-product-tab" routerLink="/product-prices" routerLinkActive="active" [routerLinkActiveOptions]="['active-link']">Products & Prices</a></li>
          <li><a class="nav-item nav-link" id="nav-catalogue-tab" routerLink="/catalogue" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Catalogues</a></li>
          <li><a class="nav-item nav-link" id="nav-filter-tab" routerLink="/filters" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Filters</a></li>
          <li><a class="nav-item nav-link" id="nav-storeregion-tab" routerLink="/store-region" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Store & Region Settings</a></li>
        </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
