<app-header></app-header>
<div class="container-fluid PageContWrap filterPageCont">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">
         <div class="row mt-2 filterTab">
          <div class="col-lg-6 col-xl-5 col-md-12">
          <ul class="nav nav-pills mb-3" id="filterTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active show" id="filterTabOne" data-toggle="pill" href="#filterCategory" role="tab" aria-controls="filterCategory" aria-selected="true">Filter by Level 2 Categories</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="filterTabTwo" data-toggle="pill" href="#filterSupplier" role="tab" aria-controls="filterSupplier" aria-selected="false">Filter by Brand/Supplier</a>
                </li>
              </ul>
            </div>  
            <div class="col-xl-7 col-lg-6 col-md-12">
              <div class="text-danger border border-dark p-1 filterWarningTxt"><small> Warning: Use advanced filters by category or Brand with Caution. Select the filter type and use the arrows to turn on or off Categories and brands.</small></div>
            </div>
          </div>
                <div class="tab-content filterTabContent" id="filterTabContent">
                    <div class="tab-pane fade active show filterCateOne" id="filterCategory" role="tabpanel" aria-labelledby="filterTabOne">
                          <form>
                            <div class="filterSupplierCont">
                              <fieldset>
                                <legend>Office Supplies</legend>
                                <div class="row">
                                <div class="col-4">
                                  <div class="form-group">
                                    <div class="text-center font-weight-bold"><span>On</span></div>
                                    <select multiple class="form-control" id="" multiple>
                                      <option>Adhesives glues & tapes</option>
                                      <option>Books, pads & self adhesive notes</option>                             
                                    </select>
                                  </div>
                                </div>
                                <div class="col-2 pt-4">
                                  <button type="button" class="btn btn-outline-dark btn-block filterBtnArrow filterBtnArwRight"></button>
                                  <button type="button" class="btn btn-outline-dark btn-block filterBtnArrow filterBtnArwRightAll"></button>
                                  <button type="button" class="btn btn-outline-dark btn-block mt-4 filterBtnArrow filterBtnArwLeftAll"></button>
                                  <button type="button" class="btn btn-outline-dark btn-block filterBtnArrow filterBtnArwLeft"></button>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                      <div class="text-center font-weight-bold"><span>Off</span></div>
                                      <select multiple class="form-control" id="" multiple>
                                        <option>Books, pads & self adhesive notes</option>                             
                                      </select>
                                    </div>
                                  </div>
                                <div class="col-2">
                                  <div class="pt-4"><span>Store Products Included</span></div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStoreProduct" id="radioStoreProductYes" value="option1" checked>
                                        <label class="form-check-label" for="radioStoreProductYes">Yes</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioStoreProduct" id="radioStoreProductNo" value="option2">
                                        <label class="form-check-label" for="radioStoreProductNo">No</label>
                                      </div>
                                      <div class="pt-4"><span>Core Products Included</span></div>
                                      <div class="form-check">
                                          <input class="form-check-input" type="radio" name="radioCoreProduct" id="radioCoreProductYes" value="option1" checked>
                                          <label class="form-check-label" for="radioCoreProductYes"> Yes</label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="radioCoreProduct" id="radioCoreProductNo" value="option2">
                                          <label class="form-check-label" for="radioCoreProductNo"> No</label>
                                        </div>
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-1 offset-sm-11"><button class="btn btn-primary btn-block" type="button">Save</button></div>
                            </div>
                              </fieldset>
                            </div>
                            </form>
                    </div>
                    <div class="tab-pane fade filterCateTwo" id="filterSupplier" role="tabpanel" aria-labelledby="filterTabTwo">
                        <form>
                            <div class="filterBrandCont">
                              <fieldset>
                                <legend>Brands</legend>
                                <div class="row">
                                <div class="col-4">
                                  <div class="form-group">
                                    <div class="text-center font-weight-bold"><span>On</span></div>
                                    <select multiple class="form-control" id="" multiple>
                                      <option>Initiative (House brand)</option>
                                      <option>Nice Day (House Brand)</option>
                                      <option>Office National (House Brand)</option>
                                      <option>Artline</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-2 pt-4">
                                  <button type="button" class="btn btn-outline-dark btn-block filterBtnArrow filterBtnArwRight"></button>
                                  <button type="button" class="btn btn-outline-dark btn-block filterBtnArrow filterBtnArwRightAll"></button>
                                  <button type="button" class="btn btn-outline-dark btn-block mt-4 filterBtnArrow filterBtnArwLeftAll"></button>
                                  <button type="button" class="btn btn-outline-dark btn-block filterBtnArrow filterBtnArwLeft"></button>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                      <div class="text-center font-weight-bold"><span>Off</span></div>
                                      <select multiple class="form-control" id="" multiple>
                                        <option>Books, pads & self adhesive notes</option>                             
                                      </select>
                                    </div>
                                  </div>
                                <div class="col-2">
                                  <div class="pt-4"><span>Store Products Included</span></div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBrandStore" id="radioBrandStoreYes" value="option1" checked>
                                        <label class="form-check-label" for="radioBrandsStoreYes">Yes</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBrandStore" id="radioBrandStoreNo" value="option2">
                                        <label class="form-check-label" for="radioBrandStoreNo">No</label>
                                      </div>
                                      <div class="pt-4"><span>Core Products Included</span></div>
                                      <div class="form-check">
                                          <input class="form-check-input" type="radio" name="radioBrandCore" id="radioBrandCoreYes" value="option1" checked>
                                          <label class="form-check-label" for="radioBrandCoreYes"> Yes</label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="radioBrandCore" id="radioBrandCoreNo" value="option2">
                                          <label class="form-check-label" for="radioBrandCoreNo"> No</label>
                                        </div>
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-1 offset-sm-11"><button class="btn btn-primary btn-block" type="button">Save</button></div>
                            </div>
                              </fieldset>
                            </div>
                            </form>
                    </div>
                </div> 
              
      </div>
    </div>
  </div>
</div>
