<app-header></app-header>
<div class="container-fluid PageContWrap filterPageCont">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">
        Coming Soon 
        <!-- <div class="row mt-2 filterTab">
          <div class="col-lg-6 col-xl-5 col-md-12">
          <ul class="nav nav-pills mb-3" id="filterTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active show" id="filterTabOne" data-toggle="pill" href="#filterCategory" role="tab" aria-controls="filterCategory" aria-selected="true">Filter by Level 2 Categories</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="filterTabTwo" data-toggle="pill" href="#filterSupplier" role="tab" aria-controls="filterSupplier" aria-selected="false">Filter by Brand/Supplier</a>
                </li>
              </ul>
            </div>  
            <div class="col-xl-7 col-lg-6 col-md-12">
              <textarea class="form-control" id="filterWarning" rows="2">Warning: Use advanced filters by category or Brand with Caution. Select the fileter type and use the arrows to turn on or off Categories and brands.</textarea>
            </div>
          </div>
                <div class="tab-content filterTabContent" id="filterTabContent">
                    <div class="tab-pane fade active show" id="filterCategory" role="tabpanel" aria-labelledby="filterTabOne">
                          <form>
                              <fieldset>
                                <legend>Office Supplies</legend>
                                <div class="row">
                                <div class="col-4">
                                  <div class="form-group">
                                    <div class="text-center"><label for="exampleFormControlSelect2">On</label></div>
                                    <select multiple class="form-control" id="exampleFormControlSelect2">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-2 pt-4">
                                  <button type="button" class="btn btn-outline-dark btn-block filterBtnArrow filterBtnArwRight"></button>
                                  <button type="button" class="btn btn-outline-dark btn-block filterBtnArrow filterBtnArwRightAll"></button>
                                  <button type="button" class="btn btn-outline-dark btn-block mt-4 filterBtnArrow filterBtnArwLeftAll"></button>
                                  <button type="button" class="btn btn-outline-dark btn-block filterBtnArrow filterBtnArwLeft"></button>
                                </div>
                                <div class="col-4">sdsd</div>
                                <div class="col-2"></div>
                              </div>
                              </fieldset>
                            </form>
                    </div>
                    <div class="tab-pane fade" id="filterSupplier" role="tabpanel" aria-labelledby="filterTabTwo">
                      <p>Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut ullamco ea tempor duis.</p>
                    </div>
                </div> -->
              
      </div>
    </div>
  </div>
</div>
