<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<app-header></app-header>
<div class="container-fluid PageContWrap homePageCont">
  <div class="row">
    <div class="col-lg-9">
      <div class="tab-content" id="nav-tabContent">
       
          <div class="homeHeader"><h5>Recent Purchases</h5>
            <div class="float-right moreIcon">
              <a href="#" data-target="#recentPurchase" data-toggle="modal" role="button" (click)="getPurchaseHistory()">
              <span></span>
              <span></span>
              <span></span>
            </a>
        </div></div>
          <div class="homePurchaseGrid table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">Customer</th>
                  <th scope="col">Purchase Value</th>
                  <th scope="col">Order Details</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of recentPurchaseList">
                  <td scope="row">{{item.LogonName}}</td>
                  <td>{{item.PurchaseValue}}</td>
                  <td><a data-target="#orderDetails" data-toggle="modal" role="button" (click)="getOrderDetails(item.OrderId)" href="javascript:void(0)">{{item.OrderId}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div><h5>Store Sales Summary</h5></div>
          <div class="homeStoreGrid table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">&nbsp;</th>
                  <th scope="col">Value ($)</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of salesSummary">
                  <td scope="row" class="text-capitalize">{{item.identifier | lowercase}}</td>
                  <td>{{item.price}}</td>               
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Modal Recent Purchase-->
          <div class="modal fade homeRecentModal" id="recentPurchase" tabindex="-1" role="dialog" aria-labelledby="recentPurchase" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><span>Recent Purchases</span></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="homePurchaseGrid table-responsive">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Customer</th>
                              <th scope="col">Purchase Value</th>
                              <th scope="col">Order Details</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of purchaseHistory">
                              <td scope="row">{{item.LogonName}}</td>
                              <td>{{item.PurchaseValue}}</td>
                              <td><a data-target="#orderDetails" data-toggle="modal" role="button" (click)="getOrderDetails(item.OrderId)" href="javascript:void(0)">{{item.OrderId}}</a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
              </div>
            </div>
          </div>
           <!-- Modal Order Details-->
          <div class="modal fade homeOrderDetailsModal" id="orderDetails" tabindex="-1" role="dialog" aria-labelledby="recentPurchase" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"><span>Order Details</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="orderDetailsView">
                        <div class="row">
                        <div class="col-sm-5"><label>Order Number</label></div>
                        <div class="col-sm-7"><span>{{orderDetail.orderId}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5"><label>Order Date</label></div>
                            <div class="col-sm-7"><span>{{orderDetail.orderDate}}</span></div>
                        </div>
                        <div class="row">
                          <div class="col-sm-5"><label>Shipping Address</label></div>
                          <div class="col-sm-7">
                            <div class="shipAddress">
                            <span>{{orderDetail.ShippingAddress.firstName}} {{orderDetail.ShippingAddress.lastName}}</span>
                            <span>{{orderDetail.ShippingAddress.address1}}</span>
                            <span>{{orderDetail.ShippingAddress.address2}}</span>
                            <span>{{orderDetail.ShippingAddress.city}}</span>
                            <span>{{orderDetail.ShippingAddress.state}}</span>
                            <span>{{orderDetail.ShippingAddress.country}}</span>
                            <span>{{orderDetail.ShippingAddress.zipCode}}</span>
                            <span>Phone: {{orderDetail.ShippingAddress.phone1}}</span>
                          </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-5"><label>Billing Address</label></div>
                          <div class="col-sm-7">
                            <div class="shipAddress">
                            <span>{{orderDetail.BillingAddress.firstName}} {{orderDetail.BillingAddress.lastName}}</span>
                            <span>{{orderDetail.BillingAddress.address1}}</span>
                            <span>{{orderDetail.BillingAddress.address2}}</span>
                            <span>{{orderDetail.BillingAddress.city}}</span>
                            <span>{{orderDetail.BillingAddress.state}}</span>
                            <span>{{orderDetail.BillingAddress.country}}</span>
                            <span>{{orderDetail.BillingAddress.zipCode}}</span>
                            <span>Phone: {{orderDetail.BillingAddress.phone1}}</span>
                          </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-5"><label>Product Details</label></div>
                          <div class="col-sm-12">
                            <div class="productDetails">
                              <table border="1">
                                <tr>
                                  <th>Part Number</th>
                                  <th>Product Name</th>
                                  <th>Quantity</th>
                                  <th>Price</th>
                                </tr>
                                <tr *ngFor="let item of orderDetail.orderItems">
                                  <td>{{item.partNumber}}</td>
                                  <td>{{item.ProductName}}</td>
                                  <td>{{item.qty}}</td>
                                  <td>{{item.purchaseValue}}</td>
                                </tr>
                              </table>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="taxes">
                              <table border="1">
                                <tr>
                                  <td>Shipping Tax</td>
                                  <td>{{orderDetail.shipingTax}}</td>
                                </tr>
                                <tr>
                                  <td>Tax</td>
                                  <td>{{orderDetail.tax}}</td>
                                </tr>
                                <tr>
                                  <td>Shipping Charge</td>
                                  <td>{{orderDetail.shipingCharge}}</td>
                                </tr>
                                <tr>
                                  <td>Discount</td>
                                  <td>{{orderDetail.discount}}</td>
                                </tr>
                                <tr>
                                  <td>SubTotal</td>
                                  <td>{{orderDetail.subTotal}}</td>
                                </tr>
                              </table>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-5"><label>Email</label></div>
                        <div class="col-sm-7"><span>{{orderDetail.email}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5"><label>Shipping Method</label></div>
                        <div class="col-sm-7"><span>Courier</span></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5"><label>Purchase Order Number</label></div>
                        <div class="col-sm-7"><span>{{orderDetail.purchaseOrderNumber}}</span></div>
                    </div> 
                  </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
