<app-header></app-header>
<div class="container-fluid PageContWrap homePageCont">
  <div class="row">
    <div class="col-lg-9">
      <div class="tab-content" id="nav-tabContent">
       
          <div class="homeHeader"><h5>Recent Purchases</h5>
            <div class="float-right moreIcon">
              <a href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
        </div></div>
          <div class="homePurchaseGrid table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">Customer</th>
                  <th scope="col">Purchase Value</th>
                  <th scope="col">Order Details</th>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Office brands</td>
                  <td>$999.00</td>
                  <td>Order</td>
                  
                </tr>
                <tr>
                  <td scope="row">Office brands</td>
                  <td>$499.00</td>
                  <td>Order</td>
                 
                </tr>
                 <tr>
                  <td scope="row">Office National</td>
                  <td>$599.00</td>
                  <td>Order</td>
                 
                </tr>
               
              </tbody>
            </table>
          </div>

          <div><h5>Store Sales Summary</h5></div>
          <div class="homeStoreGrid table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">&nbsp;</th>
                  <th scope="col">Value ($)</th>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Financial YTD Sales</td>
                  <td>$999 999.00</td>               
                </tr>
                <tr>
                  <td scope="row">Sales this Month to date</td>
                  <td>$9999.00</td>
                </tr>
                 <tr>
                  <td scope="row">Sales last Month</td>
                  <td>$99 999.00</td>
                </tr>
                <tr>
                  <td scope="row">B2C Sales directed to store</td>
                  <td>$1000.00</td>
                </tr>
                <tr>
                  <td scope="row">National Account Sales directed to store</td>
                  <td>$2000.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        
      </div>
    </div>
  </div>
</div>
