/**************Global Css**************/

input.form-control,select.form-control,textarea.form-control{border:1px solid #6a6a6a;border-radius: 0rem;}
a{color:#282828;}
a:hover{color:#404040;}
.btn-primary {color: #fff;background-color: #28a745;border-color: #28a745;}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
 box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);}
 .btn-primary:hover {color: #fff;background-color: #218838;border-color: #1e7e34;}
 .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
 color: #fff;background-color: #1e7e34;border-color:#1c7430;} 
.btn-primary.focus, .btn-primary:focus {box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);}
.btn-secondary {color: #fff;background-color: #9e9e9e;border-color: #9e9e9e;}
.btn-primary.btn, .btn-secondary.btn{border-radius: 0rem;} 
.btn-PrimaryModal{background-color: #337ab7; color:#fff;}
.btn-PrimaryModal:hover{background-color: #1562a3;border-color: #1562a3;}
.btn-PrimaryModal:not(:disabled):not(.disabled).active, .btn-PrimaryModal:not(:disabled):not(.disabled):active, .show>.btn-PrimaryModal.dropdown-toggle {color: #fff;
 background-color: #337ab7;border-color: #337ab7;
}

/****************Login css******************/
.loginBoxCont{margin-top:40px;}
.loginBoxCont .webTxt, .navbarCont .navbar-text{text-align: center; font-size: 1.8em;font-style: italic;font-family: cursive;}
.loginBoxCont .offLogoLogin{text-align: center;padding-top:20px;padding-bottom: 3px; }
.loginBoxCont .offAllLogos{text-align: center; border-top:2px solid #6a6a6a;padding-top:10px;padding-bottom:15px;}
.loginFormBox label{font-weight: bold;}
.loginFormBox input{border:1px solid #6a6a6a;border-radius: 0rem;}
.loginBtns{padding-bottom:20px; float: none;}
.loginBtns > div{padding-left:0px; padding-right:0px;}
.loginBtns .btn, .loginExtLinkBtns .btn{border-radius: 0rem;padding: .75rem 2.2rem;}
.loginExtLinkBtns{margin-top: 20px;}
.loginExtLinkBtns .btn-secondary{background-color: #e0e0e0; margin-bottom: 10px;color:#545b62;font-size:12pt;font-weight: 600;}
.loginExtLinkBtns .btn-secondary:hover{background-color:#545b62; color:#fff;}

/********home page css**********/
.navbarCont .navbar-brand img{width:200px; height: auto;}
.custTabCls .nav-tabs .nav-link.active{background-color: #e0e0e0;border-color: #6a6a6a #6a6a6a #6a6a6a;}
.custTabCls .nav-tabs .nav-link {border: 1px solid #6a6a6a;border-top-left-radius: .50rem;border-top-right-radius: .50rem;}
.custTabCls .nav-tabs .nav-link:nth-of-type(n){border-right: 0px;}
.custTabCls ul li:last-child {border-right:1px solid; border-top-right-radius: 8px;}
.custTabCls .nav-link{padding: .5rem 1.1rem;}
.custTabCls a.nav-link {color:#6a6a6a;text-align: center;}
.PageContWrap .tab-content{padding:10px;} 
.userSearchRow{padding-top:10px; padding-bottom: 10px;}
.userSearchRow input{border-radius: 1.25rem;height: calc(2rem + 2px);line-height: 1;}
.userSearchRow .hintTxtRow{line-height: 1;}
.userSearchRow .btn:first-child{margin-right: 5px;}
.userDataGrid table th{background-color:#9e9e9e; color:#fff;font-weight: normal; text-align: center;}
.userDataGrid table td{color:#282828; text-align: center;}
.userDataGrid .form-check-input{margin-left: 10px;margin-right: 0rem;}
.userDataGrid table td a{text-decoration: underline !important; cursor: pointer;}

.custTabCls ul.nav.nav-tabs > li {float: none;display: table-cell;}

 @media (min-width: 1366px)  { 
    .custTabCls ul.nav.nav-tabs {display: table;width: 100%;table-layout: fixed;
    }
 } 

@media (min-width: 1024px) and (max-width: 1366px) { 
   .custTabCls ul.nav.nav-tabs {display: table;width: 100%;table-layout: auto};
 } 
 @media (max-width: 990px) { 
    .custTabCls ul.nav.nav-tabs{table-layout: auto;}
  }