/**************Global Css**************/
input.form-control,select.form-control,textarea.form-control{border:1px solid #6a6a6a;border-radius: 0rem;}
a{color:#282828;}
a:hover{color:#404040;}
.btn-primary {color: #fff;background-color: #28a745;border-color: #28a745;}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
 box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);}
 .btn-primary:hover {color: #fff;background-color: #218838;border-color: #1e7e34;}
 .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
 color: #fff;background-color: #1e7e34;border-color:#1c7430;} 
.btn-primary.focus, .btn-primary:focus {box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);}
.btn-primary.disabled, .btn-primary:disabled{background-color: #9fefb1;border-color: #9fefb1;}
.btn-secondary {color: #fff;background-color: #9e9e9e;border-color: #9e9e9e;}
.btn-primary.btn, .btn-secondary.btn, .btn-default, .filterCateOne .btn, .filterCateTwo .btn{border-radius: 0rem;} 
.btn-PrimaryModal{background-color: #337ab7; color:#fff;}
.btn-PrimaryModal:hover{background-color: #1562a3;border-color: #1562a3;}
.btn-PrimaryModal:not(:disabled):not(.disabled).active, .btn-PrimaryModal:not(:disabled):not(.disabled):active, .show>.btn-PrimaryModal.dropdown-toggle {color: #fff;
 background-color: #337ab7;border-color: #337ab7;}
 .table td, .table th{padding:.40rem;}
 
 /****Calendar button icon*****/
 button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url(../images/calendar.png)!important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
 }
 /*****Pagination*****/
 .pagination .page-item.active .page-link{background-color: #337ab7; border-color: #337ab7;}
 .pagination .page-item.active .page-link a:hover{color: #fff;}
/****************Login css******************/
.loginBoxCont{margin-top:40px;}
.loginBoxCont .webTxt, .navbarCont .navbar-text{text-align: center; font-size: 1.8em;font-style: italic;font-family: cursive;}
.loginBoxCont .offLogoLogin{text-align: center;padding-top:20px;padding-bottom: 3px; }
.loginBoxCont .offAllLogos{text-align: center; border-top:2px solid #6a6a6a;padding-top:10px;padding-bottom:15px;}
.loginFormBox label{font-weight: bold;}
.loginFormBox input{border:1px solid #6a6a6a;border-radius: 0rem;}
.loginBtns{padding-bottom:20px; float: none;}
.loginBtns > div{padding-left:0px; padding-right:0px;}
.loginBtns .btn, .loginExtLinkBtns .btn{border-radius: 0rem;padding: .75rem 2.2rem;}
.loginBtns .btn-outline-dark:hover{color:#fff;}
.loginExtLinkBtns{margin-top: 20px;}
.loginExtLinkBtns .btn-secondary{background-color: #e0e0e0; margin-bottom: 10px;color:#545b62;font-size:12pt;font-weight: 600;}
.loginExtLinkBtns .btn-secondary:hover{background-color:#545b62; color:#fff;}
.loginBtns .btn-outline-dark:hover{color:#fff !important;}

/********Tabs/user page css**********/
.navbarCont .navbar-brand img{width:200px; height: auto;}
.custTabCls .nav-tabs .nav-link.active{background-color: #e0e0e0;border-color: #6a6a6a #6a6a6a #6a6a6a;}
.custTabCls .nav-tabs .nav-link {border: 1px solid #6a6a6a;border-top-left-radius: .50rem;border-top-right-radius: .50rem;}

.custTabCls .nav-link{padding: .5rem 1.1rem;}
.custTabCls a.nav-link {color:#6a6a6a;text-align: center;}
.PageContWrap .tab-content{padding:10px;} 
.userSearchRow{padding-top:10px; padding-bottom: 10px;}
.userSearchRow input{border-radius: 1.25rem;height: calc(2rem + 2px);line-height: 1;}
.userSearchRow .hintTxtRow{line-height: 1;}
.userSearchRow .btn{margin-right: 5px;}
.userSearchRow .btn:last-child{margin-right: 0px;}
.userDataGrid table th, .homePurchaseGrid table th, .homeStoreGrid table th, .productPriceGrid table th, .productContractGrid table th, .openContractModal table th, .productListGrid table th, .userAccountsGrid table th{background-color:#9e9e9e; color:#fff;font-weight: normal; text-align: center;}
.userDataGrid table td, .homePurchaseGrid table td, .homeStoreGrid table td, .productPriceGrid table td, .productContractGrid table td, .openContractModal table td, .productListGrid table td, .userAccountsGrid table td{color:#282828; text-align: center;}
.homeStoreGrid table th,.homeStoreGrid table td{text-align: left;}
.userDataGrid .form-check-input, .userAccountsGrid .form-check-input{margin-left: 10px;margin-right: 0rem;}
.userDataGrid table td a, .productPriceGrid table td a, .productContractGrid table a, .homePurchaseGrid table a, #userAccountsModal a{text-decoration: underline !important; cursor: pointer;}

.userSearchRow #searchTerm, .userSearchRow .searchIcon, .searchIconNew, #addNewItem .searchIcon {background:url(../images/search.png) left no-repeat; background-position-x: 5px; padding-left: 25px;}
.custTabCls ul.nav.nav-tabs > li {float: none;display: table-cell;}

.homePageCont {padding-top: 10px;}
.homePageCont .homeHeader h5{display: inline-block;}
.homePageCont .moreIcon span{width: 7px;height: 7px;background-color: #fff;display: inline-block; margin-left: 2px; margin-right: 2px;border-radius:50%;border:1px solid #6a6a6a;}
.orderDetailsView .shipAddress span{display: block;}
.orderDetailsView .shipAddress {padding-bottom: 10px;}
.orderDetailsView .row{margin-bottom: .5rem;}
.orderDetailsView label, .productDetails .table th{font-weight: 600;}
.productPriceGrid table td a, .productContractGrid table td a, .homePurchaseGrid table td a{color:#47a0ed;}
.productContractGrid table td a{margin:0 5px 0 5px;}
.custPriceEdit .priceEditField { display: none;}
.custPriceEdit .priceLabel { display: block;}
.custPriceEdit.show .priceEditField { display: block;}
.custPriceEdit.show .priceLabel { display: none;}
.custPriceEdit .priceEditField .btn{margin:0 0 0 5px;border-radius: 50%;padding: .10rem .50rem;}
.productListGrid .table-hover tbody tr:hover {background-color: rgba(96,125,139,.4); cursor: pointer;}
.productListGrid .table th:first-child{width: 33%}
.editContractView .card-header{padding: .30rem 1em;}
.editContractView .row{border-bottom: 1px dotted #ddd;}
.editContractView .card-body{padding: 1rem; font-size: 10pt;}
.lblRgtMar label{margin-right:.75rem;}

/***************Table grid Custom ******************/

.productPriceGrid table, .productContractGrid table, .productListGrid table{table-layout: fixed;}
.tableDataDesc span{text-overflow: ellipsis; overflow: hidden;white-space: nowrap;display: block;}

/***********************************************/

.addCustomersModal .card-header{padding: .35rem 1.25rem;}
.deleteCustomersModal h5.modal-title{font-size: 12pt;}
.custSelectDisplay .alert{/*padding: .45rem .85rem;*/ margin-bottom: .30rem;border:0px;font-size: 10.5pt; margin-right: 5px;}
.custSelectDisplay .alert-dismissible .close{padding: .45rem .85rem;color:#ff0000;}
.custSelectDisplay .alert-secondary{background-color: #edeeef;}
.custPriceEdit div{padding:0px 5px 0px 5px; }
.custPriceEdit input{width:60px;}
  
  /*************Catalog page*************/
  .catalogCol1 .form-group,.catalogCol2 .form-group,.catalogCol3 .form-group, .regionSettingDetails .form-group {margin-bottom: .6rem}
  .catalogCol4 .form-row{margin-top: .4rem;}
  .catalogCol4 .clearfix{height: 2.2rem;}
  .catalogCol4 .form-control{width: 90%;height: calc(1.5rem + 2px);padding: 0rem .75rem;line-height: 1;}

 /**************Filter page***********/
 .filterTab .nav-pills .nav-link{border-radius: 1.25rem;}
 .filterTab .nav-pills .nav-link.active{background-color: #e0e0e0; color: #000;}

 .filterTabContent fieldset, .regionSettCont fieldset {border: 1px solid #ddd !important;margin: 0;padding: 10px;position: relative;border-radius:4px;padding-left:10px!important;}	
 .filterTabContent legend, .regionSettCont legend{font-size:1rem;font-weight:bold;margin-bottom: 0px; width: auto; border: 1px solid #ddd;border-radius: 4px; padding: 5px 10px 5px 10px; background-color: #ffffff;}
 .filterBtnArrow:before {
  content: "";
  width: 35px;
  height: 32px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
  background-color: transparent;
  background-position : center center;
  /*background-repeat:no-repeat;*/
  background-image : url(../images/filter-arrows.png);
}
.filterBtnArwRight:before{background-position-x: 38px;}
.filterBtnArwRightAll:before{background-position-x: 78px;}
.filterBtnArwLeftAll:before{background-position-x: 170px;}
.filterBtnArwLeft:before{background-position-x: 124px;}
.filterTabContent .btn-outline-dark:hover, .filterTabContent .btn-outline-dark:not(:disabled):not(.disabled):active{background-color: #d5d8db;}
.filterTabContent .btn-outline-dark:focus{box-shadow: 0 0 0 0;}
.filterTabContent select{min-height: 220px;}
.filterTabContent option{padding:5px 0px 5px 5px;}
.filterCateTwo select{min-height: 450px;}
.filterSupplierCont{margin-top: 1.5rem;}
.filterSupplierCont:nth-child(1){margin-top: 0rem;}

 /**************Region page***********/
 .regionFinancialDetails .form-check-inline{margin-right: 2.25rem;}
 .storeAddress {padding: 10px 0;border: 1px solid #6a6a6a !important;}
 .storeAddress .no-border {border: 0 !important; box-shadow: none !important; line-height: 16px; height: 25px;}
 .userAccountsGrid .table{font-size:15px;}
 .userAccountsGrid .table th:first-child{width: 25%;}
 .userAccountsGrid .table th:nth-child(2){width: 20%;}
 .regionStoreDetails .col-form-label, .regionFinancialDetails label:first-child {font-weight: 600;}

 /*************Responsive************/
  @media (min-width: 1366px)  { 
    .custTabCls ul.nav.nav-tabs {display: table;width: 100%;table-layout: fixed;
    }
 } 
@media (min-width:1024px){
.custTabCls .nav-tabs .nav-link:nth-of-type(n){border-right: 0px;}
.custTabCls ul li:last-child {border-right:1px solid; border-top-right-radius: 8px;}
}

@media (min-width: 1024px) and (max-width: 1366px) { 
  .custTabCls ul.nav.nav-tabs {display: table;width: 100%;table-layout: auto;}
}
 @media (max-width: 990px) {
  .custTabCls ul.nav.nav-tabs{table-layout: auto;}
}

@media (min-width: 768px) and (max-width: 1023px)
{
  .custTabCls ul.nav.nav-tabs > li{width:50%;}
  .userSearchRow .btn{font-size: 10pt;padding: .375rem .25rem;}
  .userSearchRow .form-control, .table{font-size: .8rem;}
}
@media (min-width: 992px)
{
.userAccountsModal .modal-lg {
    max-width: 900px;
}
}