<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<app-header></app-header>
<div class="container-fluid PageContWrap regionSettCont">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">  
          <app-alert></app-alert>
        <div class="regionStoreDetails">
          <fieldset>
            <legend>Store Details</legend>
            <div class="row">
              <div class="col-xl-8 col-lg-7">
                  <div class="form-group row">
                      <label class="col-xl-3 col-lg-4 col-md-4 col-form-label">Store Name & ABN:</label>
                      <div class="col-xl-9 col-lg-8 col-md-8">
                          <input type="text" class="form-control" disabled [(ngModel)]="storeDetails.storeName" #storeName="ngModel">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-4 col-md-4 col-form-label">Store Email:</label>
                        <div class="col-xl-9 col-lg-8 col-md-8">
                            <input type="text" class="form-control" [(ngModel)]="storeDetails.email" #email="ngModel">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-xl-3 col-lg-4 col-md-4 col-form-label">Store Phone Number:</label>
                          <div class="col-xl-4 col-lg-4 col-md-4">
                              <input type="text" class="form-control"  [(ngModel)]="storeDetails.phone" #phone="ngModel">
                          </div>
                          <div class="col-xl-5 col-lg-4 col-md-4 text-right">
                              <button class="btn btn-PrimaryModal" type="button" data-toggle="modal" data-target="#userAccountsModal" (click)="openUserAccounts()">User Accounts</button>
                          </div>
                        </div>
              </div>
              <div class="col-xl-4 col-lg-5">
                  <div class="form-group">
                      <label for="storeAddress">Store Address:</label>
                      <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="storeDetails[0].address1" #address1="ngModel"></textarea> -->
                      <div class="border storeAddress">
                        <input type="text" class="form-control no-border"  [(ngModel)]="storeDetails.address1" #phone="ngModel">
                        <input type="text" class="form-control no-border"  [(ngModel)]="storeDetails.city" #phone="ngModel">
                        <input type="text" class="form-control no-border"  [(ngModel)]="storeDetails.state" #phone="ngModel">
                        <input type="text" class="form-control no-border"  [(ngModel)]="storeDetails.zipCode" #phone="ngModel">
                      </div>
                    </div>
              </div>
            </div> 
            <div class="row">
            <div class="col-md-2 col-lg-1 offset-md-10 offset-lg-11"><button class="btn btn-primary btn-block" type="button" (click)="saveStoreDetails()">Save</button></div>    
            </div>
          </fieldset>
        </div>
        <div class="regionFinancialDetails mt-4">
          <fieldset>
            <legend>Financial Details</legend>
                  <div class="form-group row">
                <label class="col-xl-2 col-lg-3 col-md-12">Payments Method:</label>
                <div class="col-xl-10 col-lg-9 col-md-12">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="checkAccount" value="option1">
                  <label class="form-check-label" for="checkAccount">Account</label>
                </div> 
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="checkCod" value="option2">
                  <label class="form-check-label" for="checkCod">Cash on Delivery</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="checkCc" value="option3">
                  <label class="form-check-label" for="checkCc">eWay (Credit Card)</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="checkPaypal" value="option4">
                  <label class="form-check-label" for="checkPaypal">Paypal</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="checkAfterPay" value="option5" disabled>
                  <label class="form-check-label" for="checkAfterPay">Afterpay</label>
                </div>       
              </div>      
            </div>
            <div class="form-group row">
                <label class="col-xl-2 col-lg-3 col-md-3 col-form-label">eWay Password</label>
                <div class="col-xl-6 col-lg-8 col-md-8">
                    <input type="text" class="form-control">
                </div>
              </div>
              <div class="row">
                  <div class="col-md-2 col-lg-1 offset-md-10 offset-lg-11"><button class="btn btn-primary btn-block" type="button" (click)="saveFinancialDetails()">Save</button></div>    
                  </div>
          </fieldset>
        </div>
        <div class="regionSettingDetails mt-4">
            <fieldset>
              <legend>Setting Details</legend>
                  <div class="form-group row">
                  <label class="col-xl-2 col-lg-3 col-md-3">U-Rewards+Loyalty</label>
                  <div class="col-xl-10 col-lg-9 col-md-9">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="radioLoyaltyOff" [(ngModel)]="loyaltyDetail.loyalityEnable" id="radioLoyaltyOff" [value]="false">
                          <label class="form-check-label" for="radioLoyaltyOff">Off</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="radioLoyaltyOn" [(ngModel)]="loyaltyDetail.loyalityEnable" id="radioLoyaltyOn" [value]="true">
                          <label class="form-check-label" for="radioLoyaltyOn">On</label>
                        </div>                   
                  </div>      
                  </div>
                  <div class="form-group row">
                      <label class="col-xl-2 col-lg-3 col-md-3">Guest Shopping</label>
                      <div class="col-xl-10 col-lg-9 col-md-9">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioGuest" [(ngModel)]="guestShopping.enable" id="radioGuestOff" [value]="false">
                              <label class="form-check-label" for="radioGuestOff">Off</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioGuest" [(ngModel)]="guestShopping.enable" id="radioGuestOn" [value]="true">
                              <label class="form-check-label" for="radioGuestOn">On</label>
                            </div>                   
                      </div>      
                  </div>
                  
                  <div class="row">
                      <div class="col-md-2 col-lg-1 offset-md-10 offset-lg-11"><button class="btn btn-primary btn-block" type="button" (click)="saveSettingDetails();">Save</button></div>    
                  </div>
            </fieldset>
          </div>
      </div>
    </div>
  </div>
</div>

  <!--Modal User Accounts-->
  <div class="modal fade" id="userAccountsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered model-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"><span>User Accounts</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="userDataGrid table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">Customer</th>
                  <th scope="col">User</th>
                  <th scope="col">User ID</th>
                  <th scope="col">Roles</th>
                  <th scope="col">Active</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of itemList">
                  <td scope="row">{{item.orgName}}</td>
                  <td>{{item.firstName}} {{item.lastName}}</td>
                  <td>{{item.logonId}}</td>
                  <td><span *ngIf="item.buyer === 'true'">Buyer</span><span *ngIf="item.approver && item.buyer === 'true'"> | </span><span *ngIf="item.approver === 'true'">Approver</span><span *ngIf="(item.approver && item.admin === 'true') || (item.buyer && item.admin === 'true')"> | </span><span *ngIf="item.admin === 'true'">Admin</span></td>
                  <td>
                    <label><a (click)="resetPassword(item.logonId)">Reset Password</a></label>
                    <div class="form-check form-check-inline customCheckNew text-right">
                      <input class="form-check-input" type="checkbox" id="userStatusCheckbox" name="userStatusCheckbox" value="{{item.userStatus}}"
                             [checked]="item.userStatus == '1'"
                             (change)="updateUserStatus(item.userId, $event)"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

