<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-header></app-header>
<div class="container-fluid PageContWrap">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">
        <form>
          <div class="form-row align-items-center userSearchRow">
            <div class="col-auto">
              <div class="mb-2">
                <label class="form-check-label font-weight-bold">User Accounts</label>
              </div>
            </div>

            <div class="col-4 col-sm-3">
              <input type="text" class="form-control searchIcon" id="searchTerm" #searchTerm (keyup.enter)="onEnter(searchTerm.value)"
                     appAutofocus placeholder="Search user or Customer">
            </div>
            <div class="col-4">
              <div class="mb-2">
                <label class="form-check-label hintTxtRow"><small>Click on a ID to edit customer or user, or use the add buttons.</small></label>
              </div>
            </div>
            <div class="col text-right">
                <div>
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addCustomer" (click)="orgDetailForm.reset(); this.orgDetail.parentMemberId = ''">Add Customer</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adduser" (click)="userForm.reset(); this.userDetail.userId = ''">Add User</button>
                </div>
              </div>
          </div>
        </form>

        <app-alert></app-alert>
        <div class="userDataGrid table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Customer</th>
                <th scope="col">User</th>
                <th scope="col">User ID</th>
                <th scope="col">Roles</th>
                <th scope="col">Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itemList">
                <td scope="row"><a data-toggle="modal" data-target="#addCustomer" (click)="getOrg(item.orgId)">{{item.orgName}}</a></td>
                <td><a data-toggle="modal" data-target="#adduser" (click)="getUser(item.userId)">{{item.firstName}} {{item.lastName}}</a></td>
                <td>{{item.logonId}}</td>
                <td><span *ngIf="item.buyer === 'true'">Buyer</span><span *ngIf="item.approver && item.buyer === 'true'"> | </span><span *ngIf="item.approver === 'true'">Approver</span><span *ngIf="(item.approver && item.admin === 'true') || (item.buyer && item.admin === 'true')"> | </span><span *ngIf="item.admin === 'true'">Admin</span></td>
                <td>
                  <label><a (click)="resetPassword(item.logonId)">Reset Password</a></label>
                  <div class="form-check form-check-inline customCheckNew text-right">
                    <input class="form-check-input" type="checkbox" id="userStatusCheckbox" name="userStatusCheckbox" value="{{item.userStatus}}"
                           [checked]="item.userStatus == '1'"
                           (change)="updateUserStatus(item.userId, $event)"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>

          <!-- Modal Add User-->
          <div class="modal fade addUserModal" id="adduser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle1"><span *ngIf="!userDetail.userId">Add </span><span *ngIf="userDetail.userId">Edit </span> User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn>
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form #userForm="ngForm" novalidate>
                  <div class="modal-body">

                    <div class="form-group row">
                      <label for="customerSelectBox" class="col-sm-3 col-form-label">Customer:</label>
                      <div class="col-sm-9">
                        <!-- <select class="form-control" *ngIf="userDetail.userId" disabled id="customerSelectBox" required
                                [(ngModel)]="userDetail.parentMemberId" name="parentMemberId" #parentMemberId="ngModel"
                                [ngClass]="{ 'is-invalid': userForm.submitted && parentMemberId.invalid }">
                          <option> -- Select Customer -- </option>
                          <option *ngFor="let item of customerList" [value]="item.orgEntityId">{{item.orgEntityName}}</option>
                        </select>
                        <select class="form-control" *ngIf="!userDetail.userId" id="customerSelectBox" required
                                [(ngModel)]="userDetail.parentMemberId" name="parentMemberId" #parentMemberId="ngModel"
                                [ngClass]="{ 'is-invalid': userForm.submitted && parentMemberId.invalid }">
                          <option> -- Select Customer -- </option>
                          <option *ngFor="let item of customerList" [value]="item.orgEntityId">{{item.orgEntityName}}</option>
                        </select>
                        <input type="hidden" [value]="userDetail.orgEntityId" /> -->
                        <input type="text" list="customerDatalist" *ngIf="userDetail.userId" disabled class="form-control" id="customerSelectBox" required
                        [(ngModel)]="selectedId" name="selectedId" (change)="getOrgEntryId(selectedId)">
                        <input type="text" list="customerDatalist" *ngIf="!userDetail.userId" class="form-control" id="customerSelectBox" required
                        [(ngModel)]="selectedId" name="selectedId" (change)="getOrgEntryId(selectedId)">
                        <datalist id="customerDatalist">
                          <option>-- Select Customer --</option>
                          <option *ngFor="let item of customerList" [value]="item.orgEntityName">
                        </datalist>
                        <input type="hidden" [value]="userDetail.parentMemberId" [(ngModel)]="userDetail.parentMemberId" name="parentMemberId" #parentMemberIdtext="ngModel" />
                        <div *ngIf="userForm.submitted && parentMemberId.invalid" class="invalid-feedback">
                          <div *ngIf="!!parentMemberId.errors.required">Customer is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="userFirstName" class="col-sm-3 col-form-label">User First Name:</label>
                      <div class="col-sm-9">
                        <input type="text" id="userFirstName" class="form-control" pattern="[a-zA-Z ]*" required
                               [(ngModel)]="userDetail.firstName" name="firstName" #firstName="ngModel"
                               [ngClass]="{ 'is-invalid': userForm.submitted && firstName.invalid }">
                        <div *ngIf="userForm.submitted && firstName.invalid" class="invalid-feedback">
                          <div *ngIf="!!firstName.errors.required">First Name is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="userLastName" class="col-sm-3 col-form-label">User Last Name:</label>
                      <div class="col-sm-9">
                        <input type="text" id="userLastName" class="form-control" pattern="[a-zA-Z ]*" required
                               [(ngModel)]="userDetail.lastName" name="lastName" #lastName="ngModel"
                               [ngClass]="{ 'is-invalid': userForm.submitted && lastName.invalid }">
                        <div *ngIf="userForm.submitted && lastName.invalid" class="invalid-feedback">
                          <div *ngIf="!!lastName.errors.required">Last Name is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="userEmail" class="col-sm-3 col-form-label">User Email:</label>
                      <div class="col-sm-9">
                        <input type="text" id="userEmail" class="form-control" required
                               [(ngModel)]="userDetail.email1" name="email1" #email1="ngModel"
                               [ngClass]="{ 'is-invalid': userForm.submitted && email1.invalid }" email="true">
                        <div *ngIf="userForm.submitted && email1.errors" class="invalid-feedback">
                          <div *ngIf="!!email1.errors.required">Email is required</div>
                          <div *ngIf="!!email1.errors.email">Email must be a valid email address</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="userPhone" class="col-sm-3 col-form-label">User Phone Number:</label>
                      <div class="col-sm-9">
                        <input type="text" id="userPhone" class="form-control" required
                               [(ngModel)]="userDetail.phone1" name="phone1" #phone1="ngModel">
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <label for="userAddress1" class="col-sm-3 col-form-label">User Address 1:</label>
                      <div class="col-sm-9">
                        <input type="text" id="userAddress1" class="form-control" required
                                [(ngModel)]="userDetail.address1" name="address1" #address1="ngModel">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="userAddress2" class="col-sm-3 col-form-label">User Address 2:</label>
                      <div class="col-sm-9">
                        <input type="text" id="userAddress2" class="form-control" 
                                [(ngModel)]="userDetail.address2" name="address2" #address2="ngModel">
                      </div>
                    </div>

                    <div class="form-group row">
                        <label for="userCity" class="col-sm-3 col-form-label">User City:</label>
                        <div class="col-sm-9">
                          <input type="text" id="userCity" class="form-control" 
                                  [(ngModel)]="userDetail.city" name="city" #city="ngModel">
                        </div>
                      </div>
                      
                      <div class="form-group row">
                          <label for="userState" class="col-sm-3 col-form-label">User State:</label>
                          <div class="col-sm-9">
                      <select class="form-control" id="userState"
                                [(ngModel)]="userDetail.state" name="state" #state="ngModel" >
                          <option value="AU-ACT" selected="selected">Australian Capital Territory</option>
                          <option value="AU-NSW">New South Wales</option>
                          <option value="AU-NT">Northern Territory</option>
                          <option value="AU-QLD">Queensland</option>
                          <option value="AU-SA">South Australia</option>
                          <option value="AU-TAS">Tasmania</option>
                          <option value="AU-VIC">Victoria</option>
                          <option value="AU-WA">Western Australia</option>
                        </select>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="userZipcode" class="col-sm-3 col-form-label">User Zipcode:</label>
                        <div class="col-sm-9">
                          <input type="text" id="userZipcode" class="form-control" 
                                  [(ngModel)]="userDetail.zipCode" name="zipCode" #zipCode="ngModel">
                        </div>
                      </div>
                      
                      <div class="form-group row">
                          <label for="country" class="col-sm-3 col-form-label">Country:</label>
                          <div class="col-sm-9">
                            <select class="form-control" id="country"
                                    [(ngModel)]="userDetail.country" name="country" #country="ngModel">
                              <option value="Australia" selected="selected">Australia</option>
                            </select>
                          </div>
                        </div>

                      <div class="form-group row">
                          <label for="userStatus" class="col-sm-3 col-form-label">User Status:</label>
                          <div class="col-sm-9">
                            <input type="checkbox" id="userStatus" class="form-check-input"
                                    [(ngModel)]="userDetail.status" name="status" #status="ngModel">
                          </div>
                        </div>

                    <div class="form-group row">
                      <label for="userLogonId" class="col-sm-3 col-form-label">User ID:</label>
                      <div class="col-sm-9">
                        <input type="text" *ngIf="!userDetail.userId" id="userLogonId" class="form-control" required
                               [(ngModel)]="userDetail.logonId" name="logonId" #logonId="ngModel">
                        <input type="text" *ngIf="userDetail.userId" disabled id="userLogonId" class="form-control" required
                                [(ngModel)]="userDetail.logonId" name="logonId" #logonId="ngModel">
                      </div>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox12" [value]="userDetail.buyer"
                             [(ngModel)]="userDetail.buyer" name="buyer" #buyer="ngModel">
                      <label class="form-check-label" for="inlineCheckbox12">Buyer</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox13" [value]="userDetail.approver"
                             [(ngModel)]="userDetail.approver" name="approver" #approver="ngModel">
                      <label class="form-check-label" for="inlineCheckbox13">Approver</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox14" [value]="userDetail.admin"
                             [(ngModel)]="userDetail.admin" name="admin" #admin="ngModel">
                      <label class="form-check-label" for="inlineCheckbox14">Admin</label>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" *ngIf="!userDetail.userId" class="btn btn-PrimaryModal" [disabled]="!(userForm.form.valid && (buyer.value || approver.value || admin.value))" (click)="onSaveUser()">Save changes</button>
                    <button type="submit" *ngIf="userDetail.userId" class="btn btn-PrimaryModal" [disabled]="!(userForm.form.valid && (buyer.value || approver.value || admin.value))" (click)="editUser()">Save Edit changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Modal Add Customer-->
          <div class="modal fade addCustomerModal" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle"><span *ngIf="!orgDetail.parentMemberId">Add </span><span *ngIf="orgDetail.parentMemberId">Edit </span>Customer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn>
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form #orgDetailForm="ngForm">
                  <div class="modal-body">

                    <div class="form-group row">
                      <label for="orgEntityName" class="col-sm-3 col-form-label">Customer Name:</label>
                      <div class="col-sm-9">
                        <input type="text" *ngIf="!orgDetail.parentMemberId" class="form-control" id="orgEntityName"
                               [(ngModel)]="orgDetail.orgEntityName" name="orgEntityName" #orgEntityName="ngModel" required>
                        <input type="text" *ngIf="orgDetail.parentMemberId" disabled class="form-control" id="orgEntityName"
                               [(ngModel)]="orgDetail.orgEntityName" name="orgEntityName" #orgEntityName="ngModel">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="address1" class="col-sm-3 col-form-label">Address:</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="address1"
                               [(ngModel)]="orgDetail.address1" name="address1" #address1="ngModel" required>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="address2" class="col-sm-3 col-form-label">Address:</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="address2"
                               [(ngModel)]="orgDetail.address2" name="address2" #address2="ngModel">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="city" class="col-sm-3 col-form-label">City:</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="city"
                               [(ngModel)]="orgDetail.city" name="city" #city="ngModel" required>
                      </div>
                    </div>

                    <input type="hidden" class="form-control" id="orgEntityType" value="O"
                           [(ngModel)]="orgDetail.orgEntityType" name="orgEntityType" #orgEntityType="ngModel">
                    <input type="hidden" class="form-control" id="parentMemberId" value="-2001"
                           [(ngModel)]="orgDetail.parentMemberId" name="parentMemberId" #parentMemberId="ngModel">

                    <div class="form-group row">
                      <label for="zipCode" class="col-sm-3 col-form-label">Postcode:</label>
                      <div class="col-sm-3">
                        <input type="text" class="form-control" id="zipCode"
                               [(ngModel)]="orgDetail.zipCode" name="zipCode" #zipCode="ngModel" minlength="4" maxlength="4" required>
                      </div>
                      <label for="state" class="col-sm-2 col-form-label text-right">Suburb:</label>
                      <div class="col-sm-4">
                        <select class="form-control" id="state"
                                [(ngModel)]="orgDetail.state" name="state" #state="ngModel" required>
                          <option value="AU-ACT" selected="selected">Australian Capital Territory</option>
                          <option value="AU-NSW">New South Wales</option>
                          <option value="AU-NT">Northern Territory</option>
                          <option value="AU-QLD">Queensland</option>
                          <option value="AU-SA">South Australia</option>
                          <option value="AU-TAS">Tasmania</option>
                          <option value="AU-VIC">Victoria</option>
                          <option value="AU-WA">Western Australia</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="country" class="col-sm-3 col-form-label">Country:</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="country"
                                [(ngModel)]="orgDetail.country" name="country" #country="ngModel">
                          <option value="Australia" selected="selected">Australia</option>
                        </select>
                      </div>
                    </div>

                    <!--<div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label">Contract:</label>
                      <div class="col-sm-5">
                        <select class="form-control" id="exampleFormControlSelect14">
                          <option>List</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>-->

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" *ngIf="!orgDetail.parentMemberId" class="btn btn-PrimaryModal" [disabled]="!orgDetailForm.form.valid" (click)="addCustomer()">Save changes</button>
                    <button type="submit" *ngIf="orgDetail.parentMemberId" class="btn btn-PrimaryModal" [disabled]="!orgDetailForm.form.valid" (click)="editCustomer()">Save Edit changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
