<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<app-header></app-header>
<div class="container-fluid PageContWrap prodPageCont">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">
        <form>
          <div class="form-row align-items-center userSearchRow">
              <div class="col-auto">
                <div class="mb-2">
                  <label class="form-check-label font-weight-bold">Active Product List</label>
                </div>
              </div>
  
              <div class="col-4 col-sm-3">
                <input type="text" class="form-control searchIcon" id="searchTerm" #searchTerm (keyup.enter)="onEnter(searchTerm.value)"
                       appAutofocus placeholder="Search Code or Description">
              </div>
              
              <div class="col text-right">
                  <div>
                    <button type="button" class="btn btn-secondary" [disabled]="showProductListTable === false" (click)="downloadProductCSV(searchTerm.value)">Download to Excel</button>
                    <button type="button" class="btn btn-PrimaryModal btn-default" routerLink="/product-prices/contract-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Contracts</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewStoreProduct" (click)="resetForm(); getCategory();">Add Store Product</button>
                  </div>
                </div>
            </div>
            </form>

            <app-alert></app-alert>
            <div class="productPriceGrid table-responsive">
                <table class="table table-bordered table-striped" id="productListTable">
                  <thead>
                    <tr>
                      <th scope="col">Range</th>
                      <th scope="col">EZCode</th>
                      <th scope="col">Description</th>
                      <th scope="col">List Price (Inc. GST)</th>
                      <th scope="col">Gov price (Ex GST)</th>
                      <th scope="col">Actions</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pagedItems">
                      <td scope="col"> {{item.identifier}}</td>
                      <td scope="col"> {{item.partnumber}}</td>
                      <td scope="col" class="tableDataDesc"><span title="{{item.description}}">{{item.description}}</span></td>
                      <td scope="col"> ${{item.listprice | number:'1.2-2'}}</td>
                      <td scope="col">${{item.govtprice | number:'1.2-2'}}</td>
                      <td scope="col"><a href="javascript:void(0)" role="button" data-toggle="modal" data-target="#openContract" (click)="openContract(item.catentryId)">Open Contract</a> &nbsp; <a href="javascript:void(0)" role="button" data-toggle="modal" data-target="#openContract" (click)="openContract(item.catentryId)">Show prices</a></td>
                    </tr>
                  </tbody>
                </table>
                <!-- Pagination -->
                <ul *ngIf="showPagination" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                  <a (click)="setPage(1)" class="page-link">First</a>
                 </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                  <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                  <a (click)="setPage(page)" class="page-link">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                  <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                  <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
                 </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>


<!--Modal Add Store Product-->
<div class="modal fade newStoreProductModal" id="addNewStoreProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addStoreProductCenterTitle"><span>Add New Store Product</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #newStoreProdForm="ngForm">
        <div class="modal-body">
         <div class="form-group row">
          <label class="col-sm-3 col-form-label">Category: <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <img style="display:inline;" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <input type="text" list="categorylist" name="categoryList" *ngIf="!loading" class="form-control" [(ngModel)]="selectedId" required (change)="getCategoryId(selectedId)" placeholder="Select Category">
                  <datalist id="categorylist">
                    <option *ngFor="let item of categoryList" [value]="item.identifier">
                  </datalist>
                  <input type="hidden" [value]="productDetail.catgroupId" [(ngModel)]="productDetail.catgroupId" name="catgroupId" #catgroupIdtext="ngModel" />
            </div>
         </div>
  
         <div class="form-group row">
          <label for="productName" class="col-sm-3 col-form-label">Product Name: <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" id="productName" class="form-control" required
              [(ngModel)]="productDetail.name" name="partname" #partname="ngModel"
              [ngClass]="{ 'is-invalid': newStoreProdForm.submitted && partname.invalid }">
              <div *ngIf="newStoreProdForm.submitted && partname.invalid" class="invalid-feedback">
                  <div *ngIf="!!partname.errors.required">Product Name is required</div>
            </div>
         </div>
         </div>
          <div class="form-group row">
          <label for="productNumber" class="col-sm-3 col-form-label">Product Number: <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" id="productNumber" class="form-control" required
              [(ngModel)]="productDetail.partnumber" name="partnumber" #partnumber="ngModel"
              [ngClass]="{ 'is-invalid': newStoreProdForm.submitted && partnumber.invalid }">
              <div *ngIf="newStoreProdForm.submitted && partnumber.invalid" class="invalid-feedback">
                  <div *ngIf="!!partnumber.errors.required">Product Number is required</div>
            </div>
         </div>
         </div>

         <div class="form-group row">
          <label for="productShortDesc" class="col-sm-3 col-form-label">Short Description: <span class="text-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" id="productShortDesc" class="form-control" required
              [(ngModel)]="productDetail.sDesc" name="shortdescription" #sDesc="ngModel"
              [ngClass]="{ 'is-invalid': newStoreProdForm.submitted && sDesc.invalid }">
              <div *ngIf="newStoreProdForm.submitted && !!sDesc.invalid" class="invalid-feedback">
                  <div *ngIf="!!sDesc.errors.required">Short Description is required</div>
                </div>
            </div>
         </div>

         <div class="form-group row">
          <label for="productLongDesc" class="col-sm-3 col-form-label">Long Description:</label>
            <div class="col-sm-9">
              <input type="text" id="productLongDesc" class="form-control" 
              [(ngModel)]="productDetail.lDesc" name="longdescription" #lDesc="ngModel">
            </div>
         </div>

         <div class="form-group row">
            <label for="productMfName" class="col-sm-3 col-form-label">Manufacture Name:</label>
              <div class="col-sm-9">
                <input type="text" id="productMfName" class="form-control" 
                [(ngModel)]="productDetail.mfName" name="manufactureName" #mfName="ngModel">
              </div>
           </div>

           <div class="form-group row">
              <label for="productMfPartNumber" class="col-sm-3 col-form-label">Manufacture Part Number:</label>
                <div class="col-sm-9">
                  <input type="text" id="productMfPartNumber" class="form-control" 
                  [(ngModel)]="productDetail.mfPartnumber" name="manufacturePartNumber" #mfPartnumber="ngModel">
                </div>
             </div>

         <div class="form-group row">
          <label for="productKeyword" class="col-sm-3 col-form-label">Keyword:</label>
            <div class="col-sm-9">
              <input type="text" id="productKeyword" class="form-control"
              [(ngModel)]="productDetail.keyword" name="keyword" #keyword="ngModel"
              [ngClass]="{ 'is-invalid': newStoreProdForm.submitted && keyword.invalid }">
            </div>
         </div>

         <div class="form-group row">
          <label for="productPrice" class="col-sm-3 col-form-label">List Price: <span class="text-danger">*</span></label>
            <div class="col-sm-2">
              <input type="text" id="productPrice" class="form-control" required
              [(ngModel)]="productDetail.price" name="price" #price="ngModel"
              [ngClass]="{ 'is-invalid': newStoreProdForm.submitted && price.invalid }">
              <div *ngIf="newStoreProdForm.submitted && price.invalid" class="invalid-feedback">
                  <div *ngIf="!!price.errors.required">Price is required</div>
                </div>
            </div>
            <label for="productgovtPrice" class="col col-form-label pl-0 pr-0">Gov Price: <span class="text-danger">*</span></label>
            <div class="col-sm-2">
                <input type="text" id="productgovtPrice" class="form-control" required
                [(ngModel)]="productDetail.govtPrice" name="govtPrice" #govtPrice="ngModel"
                [ngClass]="{ 'is-invalid': newStoreProdForm.submitted && govtPrice.invalid }">
                <div *ngIf="newStoreProdForm.submitted && govtPrice.invalid" class="invalid-feedback">
                    <div *ngIf="!!govtPrice.errors.required">Gov Price is required</div>
                  </div>
              </div>
              <label for="productcostPrice" class="col col-form-label pl-0 pr-0">Cost Price: <span class="text-danger">*</span></label>
              <div class="col-sm-2">
                <input type="text" id="productcostPrice" class="form-control" required
                [(ngModel)]="productDetail.costPrice" name="costPrice" #costPrice="ngModel"
                [ngClass]="{ 'is-invalid': newStoreProdForm.submitted && costPrice.invalid }">
                <div *ngIf="newStoreProdForm.submitted && costPrice.invalid" class="invalid-feedback">
                    <div *ngIf="!!costPrice.errors.required">Cost Price is required</div>
                  </div>
              </div>
         </div>      
         <div class="form-group row">
              <label for="productThumbImage" class="col-sm-3 col-form-label">Image 1:</label>
              <div class="col-sm-9">
                  <input type="text" id="productThumbImage" class="form-control"
              [(ngModel)]="productDetail.tImage" name="tImage" #tImage="ngModel">
              </div>
           </div>
           <div class="form-group row">
              <label for="productFullImage" class="col-sm-3 col-form-label">Image 2:</label>
                <div class="col-sm-9">
                    <input type="text" id="productFullImage" class="form-control"
                    [(ngModel)]="productDetail.fImage" name="fImage" #fImage="ngModel">
                </div>
             </div> 
             <div class="form-group row lblRgtMar">
                <div class="col-sm-12">
              <div class="form-check form-check-inline">
                 <label for="productAvailable" class="form-check-label">Buyable:</label>
                 <input type="checkbox" id="productBuyable" class="form-check-label"
                 [(ngModel)]="productDetail.buyable" name="buyable" #buyable="ngModel">
              </div>
              <div class="form-check form-check-inline">
                 <label for="productAvailable" class="form-check-label">Available:</label>
                 <input type="checkbox" id="productAvailable" class="form-check-label"
                 [(ngModel)]="productDetail.available" name="available" #available="ngModel">
             </div>
             <div class="form-check form-check-inline">
                 <label for="productPublish" class="form-check-label">Publish:</label>
                 <input type="checkbox" id="productPublish" class="form-check-label"
                 [(ngModel)]="productDetail.published" name="publish" #published="ngModel">
             </div>
             </div>
             </div>
                 
        </div>
        <div class="modal-footer">
          <button type="button" id="addStoreProductClose" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-PrimaryModal" [disabled]="!newStoreProdForm.form.valid" (click)="saveStoreProduct();">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!--Modal Open Contract-->
  <div class="modal fade openContractModal" id="openContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered model-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"><span>Contract</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col">Contract Name</th>
                    <th scope="col">Price</th>
                   
                </thead>
                <tbody>
                  <tr *ngFor="let item of itemContractList">
                    <td>{{item.contractName}}</td>
                    <td>{{item.contractPrice}}</td>
                  </tr>
  
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
