<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<app-header></app-header>
<div class="container-fluid PageContWrap prodPageCont">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">
        <form>
          <div class="form-row align-items-center userSearchRow">
              <div class="col-auto">
                <div class="mb-2">
                  <label class="form-check-label font-weight-bold">Active Product List</label>
                </div>
              </div>
  
              <div class="col-4 col-sm-3">
                <input type="text" class="form-control searchIcon" id="searchTerm" #searchTerm (keyup.enter)="onEnter(searchTerm.value)"
                       appAutofocus placeholder="Search Code or Description">
              </div>
              
              <div class="col text-right">
                  <div>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addCustomer" (click)="orgDetailForm.reset()">Download to Excel</button>
                    <button type="button" class="btn btn-PrimaryModal btn-default" routerLink="/product-prices/contract-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Contracts</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewStoreProduct" (click)="newStoreProdForm.reset(); getCategory();">Add Store Product</button>
                  </div>
                </div>
            </div>
            </form>

            <app-alert></app-alert>
            <div class="productPriceGrid table-responsive">
                <table class="table table-bordered table-striped" id="productListTable">
                  <thead>
                    <tr>
                      <th scope="col">Range</th>
                      <th scope="col">EZCode</th>
                      <th scope="col">Description</th>
                      <th scope="col">List Price (Inc. GST)</th>
                      <th scope="col">Gov price (Ex GST)</th>
                      <th scope="col">Actions</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pagedItems">
                      <td scope="col"> {{item.identifier}}</td>
                      <td scope="col"> {{item.partnumber}}</td>
                      <td scope="col"> <span title="{{item.shortdescription}}">{{item.shortdescription}}</span></td>
                      <td scope="col"> ${{item.listprice | number:'1.2-2'}}</td>
                      <td scope="col">${{item.govtprice | number:'1.2-2'}}</td>
                      <td scope="col"><a href="javascript:void(0)" role="button" data-toggle="modal" data-target="#openContract" (click)="openContract(item.catentryId)">Open Contract</a></td>
                    </tr>
                  </tbody>
                </table>
                <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)">Last</a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>


<!--Modal Add Store Product-->
<div class="modal fade newStoreProductModal" id="addNewStoreProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"><span>Add New Store Product</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #newStoreProdForm="ngForm">
        <div class="modal-body">
         <div class="form-group row">
          <label for="category" class="col-sm-3 col-form-label">Category:</label>
            <div class="col-sm-9">
                <img style="display:inline;" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <input type="text" list="categorylist" name="categoryList" *ngIf="!loading" class="form-control" [(ngModel)]="selectedId" required (change)="getCategoryId(selectedId)" placeholder="Select Category">
                  <datalist id="categorylist">
                    <option *ngFor="let item of categoryList" [value]="item.identifier">
                  </datalist>
                  <input type="hidden" [value]="productDetail.catgroupId" [(ngModel)]="productDetail.catgroupId" name="catgroupId" #catgroupIdtext="ngModel" />
              <!-- <select class="form-control" id="customerSelectBox" required>
                <option *ngFor="let item of categoryList" [value]="item.uniqueID">{{item.identifier}}</option>
              </select> -->
                  
            </div>
         </div>
  
         <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Product Name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div>
          <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Product Number:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div>

         <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Short Description:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div>

         <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Long Description:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div>

         <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Keyword:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div>

         <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Price:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div>
  
          <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Available:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
         </div> 
         <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Publish:</label>
              <div class="col-sm-9">
                <input type="checkbox" class="form-check-label">
              </div>
           </div>
           <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Image:</label>
                <div class="col-sm-9">
                  <input type="file" class="form-control">
                </div>
             </div> 
                 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-PrimaryModal" (click)="saveStoreProduct();">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!--Modal Open Contract-->
  <div class="modal fade openContractModal" id="openContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered model-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"><span>Contract</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col">Contract Name</th>
                    <th scope="col">Price</th>
                   
                </thead>
                <tbody>
                  <tr>
                    <td>Aboriginal Areas Protection Authority </td>
                    <td>$ 99.00</td>
                  </tr>
  
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-PrimaryModal">Save</button>
          </div>
        </form>
        </div>
      </div>
    </div>