<app-header></app-header>
<div class="container-fluid PageContWrap catalogPagCont">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">
          <div class="row mt-1">
              <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
                <h5><span>Core</span></h5>
           
              </div>
              <div class="col-xl-7 col-lg-7 col-sm-6 catalogCol2">
                 <h5><span>Other</span></h5>
          
               </div>
             </div>
        <div class="row wrapperCoreRow">
            <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
                <div class="form-group row">
                    <label class="col col-lg-7 col-xl-6 offset-sm-1">Catalogue</label>
                    <div class="col col-lg-4 col-xl-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioCatlog" id="radioCatlogOff" value="option1">
                            <label class="form-check-label" for="radioCatlogOff">Off</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioCatlog" id="radioCatlogOn" value="option2">
                            <label class="form-check-label" for="radioCatlogOn">On</label>
                          </div>
                     
                    </div>
                  </div>
              </div>
              <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
                  <div class="form-group row">
                      <label class="col col-lg-7 col-xl-6 offset-sm-1">Store Products</label>
                      <div class="col col-lg-4 col-xl-5">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioStoreProduct" id="radioStoreProductOff" value="option1">
                              <label class="form-check-label" for="radioStoreProductOff">Off</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioStoreProduct" id="radioStoreProductOn" value="option2">
                              <label class="form-check-label" for="radioStoreProductOn">On</label>
                            </div>
                       
                      </div>
                    </div>

              </div>
              <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
                  <div class="form-group row">
                      <label class="col col-lg-7 col-xl-6 offset-sm-1">Web Only</label>
                      <div class="col col-lg-4 col-xl-5">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioWeb" id="radioWebOff" value="option1">
                              <label class="form-check-label" for="radioWebOff">Off</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioWeb" id="radioWebOn" value="option2">
                              <label class="form-check-label" for="radioWebOn">On</label>
                            </div>
                       
                      </div>
                    </div>
              </div>
              <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
                  <div class="form-group row">
                      <label class="col col-lg-7 col-xl-6 offset-sm-1">Me Too</label>
                      <div class="col col-lg-4 col-xl-5">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioMeToo" id="radioMeTooOff" value="option1">
                              <label class="form-check-label" for="radioMeTooOff">Off</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioMeToo" id="radioMeTooOn" value="option2">
                              <label class="form-check-label" for="radioMeTooOn">On</label>
                            </div>
                       
                      </div>
                    </div>
              </div>
              <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
                  <div class="form-group row">
                      <label class="col col-lg-7 col-xl-6 offset-sm-1">Education Only</label>
                      <div class="col col-lg-4 col-xl-5">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioEducation" id="radioEducationOff" value="option1">
                              <label class="form-check-label" for="radioEducationOff">Off</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioEducation" id="radioEducationOn" value="option2">
                              <label class="form-check-label" for="radioEducationOn">On</label>
                            </div>
                       
                      </div>
                    </div>
              </div>
              <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
                  <div class="form-group row" *ngFor="let item of coreCatalogs; let i = index">
                      <label class="col col-lg-7 col-xl-6 offset-sm-1">{{item.name}}</label>
                      <div class="col col-lg-4 col-xl-5">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioStatus" id="radioStatusOff" value="off" [(ngModel)]="item.status" #radioStatus="ngModel" [checked]="item.status === 'off'" (click)="updateCoreCatalogModel(item.name, 'status', item.status);">
                              <label class="form-check-label" for="radioStatusOff">Off</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioStatus" id="radioStatusOn" value="on" [(ngModel)]="item.status" #radioStatus="ngModel" [checked]="item.status === 'on'" (click)="updateCoreCatalogModel(item.name, 'status', item.status);">
                              <label class="form-check-label" for="radioStatusOn">On</label>
                            </div>
                       
                      </div>
                    </div>
              </div>
              <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
                  <div class="form-group row">
                      <label class="col col-lg-7 col-xl-6 offset-sm-1">Furniture Only</label>
                      <div class="col col-lg-4 col-xl-5">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioFurniture" id="radioFurnitureOff" value="option1">
                              <label class="form-check-label" for="radioFurnitureOff">Off</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioFurniture" id="radioFurnitureOn" value="option2">
                              <label class="form-check-label" for="radioFurnitureOn">On</label>
                            </div>
                       
                      </div>
                    </div>

              </div>

        </div>

     
      <div class="row">
            <div class="col-md-2 col-lg-1 offset-md-10 offset-lg-11"><button class="btn btn-primary btn-block" type="button" (click)="saveCoreCatalog();">Save</button></div>
      </div>
     
      <div class="row">
            <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol3">
                    <h5><span>Extended Aisles</span></h5>
            </div>
            <div class="col-xl-7 col-lg-7 col-sm-7 catalogCol4">
                    <div class="form-row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                               
                                    <label>MOQ Less Than</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                               
                                    <label>Cost Greater Than</label>
                            </div>
                            <div class="col-xl-1 col-md-2">
                               
                                    <label>RQ=1</label>
                            </div>
                            <div class="col">
                                    <label>Extended Extra Range</label>
                              </div>
                          </div>
            </div>
      </div>

	<div class="wrapperExtendedRow">
      <div class="row" *ngFor="let item of localExtCatalogModel; let i = index">
            <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol3">
                    <div class="form-group row">
                            <label class="col col-lg-7 col-xl-6 offset-sm-1">{{item.identifier}}</label>
                            <div class="col col-lg-4 col-xl-5">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" [name]="item.cfcondId" [attr.id]="'radioStationeryOff'+i" [(ngModel)]="item.onFilter" [value]="false">
                                    <label class="form-check-label" [attr.for]="'radioStationeryOff'+i">Off</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" [name]="item.cfcondId" [attr.id]="'radioStationeryOn'+i" [(ngModel)]="item.onFilter" [value]="true">
                                    <label class="form-check-label" [attr.for]="'radioStationeryOn'+i">On</label>
                                  </div>
                             
                            </div>
                          </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-sm-7 catalogCol4">
                    <div class="form-row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                               
                                <select [attr.id]="'selectMoq'+item.cfcondgrpId" class="form-control" [(ngModel)]="item.MOQ.attrValId" [name]="item.MOQ.cfcondId" #moqValue="ngModel">
                                    <option value="">N/A</option>
                                  <option *ngFor="let item of extendedMoqList" [value]="item.attrValId" [attr.id]="'optionMoq'+item.attrValId">{{item.attrValue}}</option>                                 
                                </select>
                                <input type="hidden" [value]="item.attrValue" />
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                               
                                <select [attr.id]="'selectCost'+item.cfcondgrpId" class="form-control" [(ngModel)]="item.COST.attrValId" [name]="item.COST.cfcondId" #costValue="ngModel">
                                    <option value="">0</option>
                                  <option *ngFor="let item of extendedCostGreaterList" [value]="item.attrValId" [attr.id]="'optionCost'+item.attrValId">{{item.attrValue}}</option>
                                </select>
                            </div>
                            <div class="col-xl-1 col-md-2">
                               
                                <div class="form-check">
                                    <input id="ChkRq1" class="form-check-input" type="checkbox" [checked]="item.RQ.attrvalue" [(ngModel)]="item.RQ.attrvalue" [name]="item.RQ.cfcondId" #rqValue="ngModel">
                                  </div>
                            </div>
                            <div class="col">
                               
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioExtRange1" id="radioExtRangeOff1" value="option1">
                                    <label class="form-check-label" for="radioExtRangeOff1">Off</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioExtRange1" id="radioExtRangeOn1" value="option2">
                                    <label class="form-check-label" for="radioExtRangeOn1">On</label>
                                  </div>
                              </div>
                          </div>
            </div>
      </div>
	</div>
      <div class="row">
            <div class="col-md-2 col-lg-1 offset-md-10 offset-lg-11"><button class="btn btn-primary btn-block" type="button" (click)="saveExtendedCatalog();">Save</button></div>
      </div>
      </div>
    </div>
  </div>
</div>
