<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<app-header></app-header>
<div class="container-fluid PageContWrap catalogPagCont">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">
        <app-alert></app-alert>
        <div class="row mt-1">
          <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
            <h5><span>Core</span></h5>
          </div>
        </div>
        <div class="row wrapperCoreRow">
          <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
            <div class="form-group row" *ngFor="let item of coreCatalogs">
              <label class="col col-lg-7 col-xl-6 offset-sm-1 text-capitalize">{{item.catName | lowercase}}</label>
              <div class="col col-lg-4 col-xl-5">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" [name]="'radioCatlogOff'+item.attrValId"
                         [attr.id]="'radioCatlogOff'+item.attrValId" [(ngModel)]="item.attrVal" [value]="false">
                  <label class="form-check-label" [attr.for]="'radioCatlogOff'+item.attrValId">Off</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" [name]="'radioCatlogOn'+item.attrValId"
                         [attr.id]="'radioCatlogOn'+item.attrValId" [(ngModel)]="item.attrVal" [value]="true">
                  <label class="form-check-label" [attr.for]="'radioCatlogOn'+item.attrValId">On</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="col-xl-7 col-lg-7 col-sm-7 catalogCol5">
          <div class="cat-box">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                <label>MOQ Greater Than</label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                <label>Cost Greater Than</label>
              </div>
              <div class="col-xl-1 col-md-2">
                <label>RQ=1</label>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-2 col-xl-3" *ngFor="let item of coreExtendedList">

                <div class="col" *ngIf="item.identifier == 'MOQ22'">
                  <select [attr.id]="'selectMoq'+item.cfcondId" class="form-control" [(ngModel)]="item.attrValId"
                          [name]="item.cfcondId" #moqValue="ngModel">
                    <option value="">N/A</option>
                    <option *ngFor="let item of extendedMoqList" [value]="item.attrValId"
                            [attr.id]="'optionMoq'+item.attrValId">{{item.attrValue}}</option>
                  </select>
                  <input type="hidden" [value]="item.attrValue"/>
                </div>

                <div class="col" *ngIf="item.identifier == 'COST'">
                  <select [attr.id]="'selectCost'+item.cfcondId" class="form-control" [(ngModel)]="item.attrValId"
                          [name]="item.cfcondId" #costValue="ngModel">
                    <option *ngFor="let item of extendedCostGreaterList" [value]="item.attrValId"
                            [attr.id]="'optionCost'+item.attrValId">{{item.attrValue}}</option>
                  </select>
                </div>

                <div class="col" *ngIf="item.identifier == 'RQ'">
                  <div class="form-check">
                    <input id="ChkRq2" class="form-check-input" type="checkbox" [checked]="item.attrVal"
                           [(ngModel)]="item.attrVal" [name]="item.attrValId" #rqValue="ngModel">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->


        <div class="row">
          <div class="col-md-2 col-lg-1 offset-md-10 offset-lg-11">
            <button class="btn btn-primary btn-block" type="button" (click)="openConfirmationDialogCore();">Save
            </button>
          </div>
        </div>

        <br>
        <hr class="style5">

        <div class="row mt-1">
          <div class="col-xl-7 col-lg-7 col-sm-6 catalogCol2">
            <h5><span>Store</span></h5>
          </div>
        </div>
        <div class="row wrapperCoreRow">
          <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol2">
            <div class="form-group row" *ngFor="let item of storeRangeList">
              <label class="col col-lg-7 col-xl-6 offset-sm-1 text-capitalize">{{item.identifier | lowercase}}</label>
              <div class="col col-lg-4 col-xl-5">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" [name]="'radioCatlogOff'+item.attrValId"
                         [attr.id]="'radioCatlogOff'+item.attrValId" [(ngModel)]="item.onFilter" [value]="false">
                  <label class="form-check-label" [attr.for]="'radioCatlogOff'+item.attrValId">Off</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" [name]="'radioCatlogOn'+item.attrValId"
                         [attr.id]="'radioCatlogOn'+item.attrValId" [(ngModel)]="item.onFilter" [value]="true">
                  <label class="form-check-label" [attr.for]="'radioCatlogOn'+item.attrValId">On</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-lg-1 offset-md-10 offset-lg-11">
            <button class="btn btn-primary btn-block" type="button" (click)="openConfirmationDialogStore();">Save
            </button>
          </div>
        </div>

        <br>
        <hr class="style5">

        <div class="row">
          <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol3">
            <h5><span>Endless Aisle</span></h5>
          </div>
        </div>


        <div class="row wrapperExtendedRow">
          <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol3">
            <div class="form-group row" *ngFor="let item of extendedCatalogs; let i = index">
                <label class="col col-lg-7 col-xl-6 offset-sm-1 text-capitalize">{{item.identifier | lowercase}}</label>
                <div class="col col-lg-4 col-xl-5">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [name]="item.attrValId"
                           [attr.id]="'radioExtCatalogOff'+item.attrValId" [(ngModel)]="item.onFilter" [value]="false">
                    <label class="form-check-label" [attr.for]="'radioExtCatalogOff'+item.attrValId">Off</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [name]="item.attrValId"
                           [attr.id]="'radioExtCatalogOn'+item.attrValId" [(ngModel)]="item.onFilter" [value]="true">
                    <label class="form-check-label" [attr.for]="'radioExtCatalogOn'+item.attrValId">On</label>
                  </div>
              </div>
            </div>
          </div>
          <!--<div class="col-xl-7 col-lg-7 col-sm-7 catalogCol4">
            <div class="cat-box">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                  <label>MOQ Greater Than</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                  <label>Cost Greater Than</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                  <label>RQ=1</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                  <label>HANGSELL</label>
                </div>
              </div>
              <div class="row">
                <div class="col col-lg-2 col-xl-3" *ngFor="let item of endlessExtendedList">

                  <div class="col" *ngIf="item.identifier == 'MOQ22'">
                    <select [attr.id]="'selectMoq'+item.cfcondId" class="form-control" [(ngModel)]="item.attrValId"
                            [name]="item.cfcondId" #moqValue="ngModel">
                      <option value="">N/A</option>
                      <option *ngFor="let item of extendedMoqList" [value]="item.attrValId"
                              [attr.id]="'optionMoq'+item.attrValId">{{item.attrValue}}</option>
                    </select>
                    <input type="hidden" [value]="item.attrValue"/>
                  </div>

                  <div class="col" *ngIf="item.identifier == 'COST'">
                    <select [attr.id]="'selectCost'+item.cfcondId" class="form-control" [(ngModel)]="item.attrValId"
                            [name]="item.cfcondId" #costValue="ngModel">
                      <option *ngFor="let item of extendedCostGreaterList" [value]="item.attrValId"
                              [attr.id]="'optionCost'+item.attrValId">{{item.attrValue}}</option>
                    </select>
                  </div>

                  <div class="col-xl-1 col-md-2" *ngIf="item.identifier == 'RQ'">
                    <div class="form-check">
                      <input id="ChkRq1" class="form-check-input" type="checkbox" [checked]="item.attrVal"
                             [(ngModel)]="item.attrVal" [name]="item.cfcondId" #rqValue="ngModel">
                    </div>
                  </div>

                  <div class="col" *ngIf="item.identifier == 'HANGSELL'">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [name]="'radioEndCatlogOff'+item.attrValId"
                             [attr.id]="'radioEndCatlogOff'+item.attrValId" [(ngModel)]="item.attrVal" [value]="false">
                      <label class="form-check-label" [attr.for]="'radioEndCatlogOff'+item.attrValId">Off</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" [name]="'radioEndCatlogOn'+item.attrValId"
                             [attr.id]="'radioEndCatlogOn'+item.attrValId" [(ngModel)]="item.attrVal" [value]="true">
                      <label class="form-check-label" [attr.for]="'radioEndCatlogOn'+item.attrValId">On</label>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>-->
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-1 offset-md-10 offset-lg-11">
            <button class="btn btn-primary btn-block" type="button" (click)="openConfirmationDialogExtended();">Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
