<app-header></app-header>
<div class="container-fluid PageContWrap catalogPagCont">
  <div class="row">
    <div class="col-lg-12">
      <div class="tab-content" id="nav-tabContent">
      <form>
        <div class="row mt-1">
       <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol1">
         <h5><span>Core</span></h5>
         <div class="form-group row">
            <div class="col col-lg-7 col-xl-6 offset-sm-1">Catalogue</div>
            <div class="col col-lg-4 col-xl-5">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radioCatlog" id="radioCatlogOff" value="option1">
                    <label class="form-check-label" for="radioCatlogOff">Off</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radioCatlog" id="radioCatlogOn" value="option2">
                    <label class="form-check-label" for="radioCatlogOn">On</label>
                  </div>
             
            </div>
          </div>
          <div class="form-group row">
              <div class="col col-lg-7 col-xl-6 offset-sm-1">Web Only</div>
              <div class="col col-lg-4 col-xl-5">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="radioWeb" id="radioWebOff" value="option1">
                      <label class="form-check-label" for="radioWebOff">Off</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="radioWeb" id="radioWebOn" value="option2">
                      <label class="form-check-label" for="radioWebOn">On</label>
                    </div>
               
              </div>
            </div>
            <div class="form-group row">
                <div class="col col-lg-7 col-xl-6 offset-sm-1">Education Only</div>
                <div class="col col-lg-4 col-xl-5">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioEducation" id="radioEducationOff" value="option1">
                        <label class="form-check-label" for="radioEducationOff">Off</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioEducation" id="radioEducationOn" value="option2">
                        <label class="form-check-label" for="radioEducationOn">On</label>
                      </div>
                 
                </div>
              </div>
              <div class="form-group row">
                  <div class="col col-lg-7 col-xl-6 offset-sm-1">Furniture Only</div>
                  <div class="col col-lg-4 col-xl-5">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="radioFurniture" id="radioFurnitureOff" value="option1">
                          <label class="form-check-label" for="radioFurnitureOff">Off</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="radioFurniture" id="radioFurnitureOn" value="option2">
                          <label class="form-check-label" for="radioFurnitureOn">On</label>
                        </div>
                   
                  </div>
                </div>
       </div>
       <div class="col-xl-7 col-lg-7 col-sm-6 catalogCol2">
          <h5><span>Other</span></h5>
          <div class="form-group row">
              <div class="col-sm-4 offset-sm-1">Store Products</div>
              <div class="col-sm-7">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="radioStoreProduct" id="radioStoreProductOff" value="option1">
                      <label class="form-check-label" for="radioStoreProductOff">Off</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="radioStoreProduct" id="radioStoreProductOn" value="option2">
                      <label class="form-check-label" for="radioStoreProductOn">On</label>
                    </div>
               
              </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 offset-sm-1">Me Too</div>
                <div class="col-sm-7">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioMeToo" id="radioMeTooOff" value="option1">
                        <label class="form-check-label" for="radioMeTooOff">Off</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioMeToo" id="radioMeTooOn" value="option2">
                        <label class="form-check-label" for="radioMeTooOn">On</label>
                      </div>
                 
                </div>
              </div>
              <div class="form-group row">
                  <div class="col-sm-4 offset-sm-1">Hang Sell</div>
                  <div class="col-sm-7">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="radioHangSell" id="radioHangSellOff" value="option1">
                          <label class="form-check-label" for="radioHangSellOff">Off</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="radioHangSell" id="radioHangSellOn" value="option2">
                          <label class="form-check-label" for="radioHangSellOn">On</label>
                        </div>
                   
                  </div>
                </div>
        </div>
      </div>
      <div class="row">
            <div class="col-sm-1 offset-sm-11"><button class="btn btn-primary btn-block" type="button">Save</button></div>
      </div>
      <div class="row mt-3">
          <div class="col-lg-5 col-sm-5 col-xl-5 catalogCol3">
              <h5><span>Extended Aisles</span></h5>
              <div class="form-group row">
                 <div class="col col-lg-7 col-xl-6 offset-sm-1">Stationery/Office Products</div>
                 <div class="col col-lg-4 col-xl-5">
                     <div class="form-check form-check-inline">
                         <input class="form-check-input" type="radio" name="radioStationery" id="radioStationeryOff" value="option1">
                         <label class="form-check-label" for="radioStationeryOff">Off</label>
                       </div>
                       <div class="form-check form-check-inline">
                         <input class="form-check-input" type="radio" name="radioStationery" id="radioStationeryOn" value="option2">
                         <label class="form-check-label" for="radioStationeryOn">On</label>
                       </div>
                  
                 </div>
               </div>
               <div class="form-group row">
                   <div class="col col-lg-7 col-xl-6 offset-sm-1">Paper</div>
                   <div class="col col-lg-4 col-xl-5">
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="radioPaper" id="radioPaperOff" value="option1">
                           <label class="form-check-label" for="radioPaperOff">Off</label>
                         </div>
                         <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="radioPaper" id="radioPaperOn" value="option2">
                           <label class="form-check-label" for="radioPaperOn">On</label>
                         </div>
                    
                   </div>
                 </div>
                 <div class="form-group row">
                     <div class="col col-lg-7 col-xl-6 offset-sm-1">Ink & Toners</div>
                     <div class="col col-lg-4 col-xl-5">
                         <div class="form-check form-check-inline">
                             <input class="form-check-input" type="radio" name="radioInk" id="radioInkOff" value="option1">
                             <label class="form-check-label" for="radioInkOff">Off</label>
                           </div>
                           <div class="form-check form-check-inline">
                             <input class="form-check-input" type="radio" name="radioInk" id="radioInkOn" value="option2">
                             <label class="form-check-label" for="radioInkOn">On</label>
                           </div>
                      
                     </div>
                   </div>
                   <div class="form-group row">
                       <div class="col col-lg-7 col-xl-6 offset-sm-1">Technology</div>
                       <div class="col col-lg-4 col-xl-5">
                           <div class="form-check form-check-inline">
                               <input class="form-check-input" type="radio" name="radioTechnology" id="radioTechnologyOff" value="option1">
                               <label class="form-check-label" for="radioTechnologyOff">Off</label>
                             </div>
                             <div class="form-check form-check-inline">
                               <input class="form-check-input" type="radio" name="radioTechnology" id="radioTechnologyOn" value="option2">
                               <label class="form-check-label" for="radioTechnologyOn">On</label>
                             </div>
                        
                       </div>
                     </div>
                     <div class="form-group row">
                        <div class="col col-lg-7 col-xl-6 offset-sm-1">Furniture</div>
                        <div class="col col-lg-4 col-xl-5">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioFurniture" id="radioFurnitureOff" value="option1">
                                <label class="form-check-label" for="radioFurnitureOff">Off</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioFurniture" id="radioFurnitureOn" value="option2">
                                <label class="form-check-label" for="radioFurnitureOn">On</label>
                              </div>
                         
                        </div>
                      </div>
                      <div class="form-group row">
                          <div class="col col-lg-7 col-xl-6 offset-sm-1">3D CAD Furniture (OLG)</div>
                          <div class="col col-lg-4 col-xl-5">
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="radioCad" id="radioCadOff" value="option1">
                                  <label class="form-check-label" for="radioCadOff">Off</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="radioCad" id="radioCadOn" value="option2">
                                  <label class="form-check-label" for="radioCadOn">On</label>
                                </div>
                           
                          </div>
                        </div>
                        <div class="form-group row">
                            <div class="col col-lg-7 col-xl-6 offset-sm-1">Facilities</div>
                            <div class="col col-lg-4 col-xl-5">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioFacilites" id="radioFacilitesOff" value="option1">
                                    <label class="form-check-label" for="radioFacilitesOff">Off</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioFacilites" id="radioFacilitesOn" value="option2">
                                    <label class="form-check-label" for="radioFacilitesOn">On</label>
                                  </div>
                             
                            </div>
                          </div>
                          <div class="form-group row">
                              <div class="col col-lg-7 col-xl-6 offset-sm-1">Art, Craft & Education</div>
                              <div class="col col-lg-4 col-xl-5">
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="radioArt" id="radioArtOff" value="option1">
                                      <label class="form-check-label" for="radioArtOff">Off</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="radioArt" id="radioArtOn" value="option2">
                                      <label class="form-check-label" for="radioArtOn">On</label>
                                    </div>
                               
                              </div>
                            </div>
                            <div class="form-group row">
                                <div class="col col-lg-7 col-xl-6 offset-sm-1">OTHER RANGES...</div>
                                <div class="col col-lg-4 col-xl-5">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radioOtherRange" id="radioOtherRangeOff" value="option1">
                                        <label class="form-check-label" for="radioOtherRangeOff">Off</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radioOtherRange" id="radioOtherRangeOn" value="option2">
                                        <label class="form-check-label" for="radioOtherRangeOn">On</label>
                                      </div>
                                 
                                </div>
                              </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-sm-7 catalogCol4">
               
                <div class="form-row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                        <label>MOQ Less Than</label>
                        <select id="selectLess1" class="form-control">
                          <option selected>N/A</option>
                         
                        </select>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                        <label>Cost Greater Than</label>
                        <select id="selectGrt1" class="form-control">
                          <option selected>0</option>
                        
                        </select>
                    </div>
                    <div class="col-xl-1 col-md-2">
                        <label>RQ=1</label>
                        <div class="form-check">
                            <input id="ChkRq1" class="form-check-input" type="checkbox">
                          </div>
                    </div>
                    <div class="col">
                        <div><label>Extended Extra Range</label></div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioExtRange1" id="radioExtRangeOff1" value="option1">
                            <label class="form-check-label" for="radioExtRangeOff1">Off</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioExtRange1" id="radioExtRangeOn1" value="option2">
                            <label class="form-check-label" for="radioExtRangeOn1">On</label>
                          </div>
                      </div>
                  </div>
                
                  <div class="form-row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                          <select id="selectLess2" class="form-control">
                            <option selected>N/A</option>
                           
                          </select>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                          <select id="selectGrt2" class="form-control">
                            <option selected>0</option>
                          
                          </select>
                      </div>
                      <div class="col-xl-1 col-md-2">
                          <div class="form-check">
                              <input id="ChkRq2" class="form-check-input" type="checkbox">
                            </div>
                      </div>
                      <div class="col">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioExtRange2" id="radioExtRangeOff2" value="option1">
                              <label class="form-check-label" for="radioExtRangeOff2">Off</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radioExtRange2" id="radioExtRangeOn2" value="option2">
                              <label class="form-check-label" for="radioExtRangeOn2">On</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                            <select id="selectLess3" class="form-control">
                              <option selected>N/A</option>
                             
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                            <select id="selectGrt3" class="form-control">
                              <option selected>0</option>
                            
                            </select>
                        </div>
                        <div class="col-xl-1 col-md-2">
                            <div class="form-check">
                                <input id="ChkRq3" class="form-check-input" type="checkbox">
                              </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioExtRange3" id="radioExtRangeOff3" value="option1">
                                <label class="form-check-label" for="radioExtRangeOff3">Off</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioExtRange3" id="radioExtRangeOn3" value="option2">
                                <label class="form-check-label" for="radioExtRangeOn3">On</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                              <select id="selectLess4" class="form-control">
                                <option selected>N/A</option>
                               
                              </select>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                              <select id="selectGrt4" class="form-control">
                                <option selected>0</option>
                              
                              </select>
                          </div>
                          <div class="col-xl-1 col-md-2">
                              <div class="form-check">
                                  <input id="ChkRq4" class="form-check-input" type="checkbox">
                                </div>
                          </div>
                          <div class="col">
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="radioExtRange4" id="radioExtRangeOff4" value="option1">
                                  <label class="form-check-label" for="radioExtRangeOff4">Off</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="radioExtRange4" id="radioExtRangeOn4" value="option2">
                                  <label class="form-check-label" for="radioExtRangeOn4">On</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                                <select id="selectLess5" class="form-control">
                                  <option selected>N/A</option>
                                 
                                </select>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                                <select id="selectGrt5" class="form-control">
                                  <option selected>0</option>
                                
                                </select>
                            </div>
                            <div class="col-xl-1 col-md-2">
                                <div id="ChkRq5" class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                  </div>
                            </div>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioExtRange5" id="radioExtRangeOff5" value="option1">
                                    <label class="form-check-label" for="radioExtRangeOff5">Off</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioExtRange5" id="radioExtRangeOn5" value="option2">
                                    <label class="form-check-label" for="radioExtRangeOn5">On</label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                                  <select id="selectLess6" class="form-control">
                                    <option selected>N/A</option>
                                   
                                  </select>
                              </div>
                              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                                  <select id="selectGrt6" class="form-control">
                                    <option selected>0</option>
                                  
                                  </select>
                              </div>
                              <div class="col-xl-1 col-md-2">
                                  <div class="form-check">
                                      <input id="ChkRq6" class="form-check-input" type="checkbox">
                                    </div>
                              </div>
                              <div class="col">
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="radioExtRange6" id="radioExtRangeOff6" value="option1">
                                      <label class="form-check-label" for="radioExtRangeOff6">Off</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="radioExtRange6" id="radioExtRangeOn6" value="option2">
                                      <label class="form-check-label" for="radioExtRangeOn6">On</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                                    <select id="selectLess7" class="form-control">
                                      <option selected>N/A</option>
                                     
                                    </select>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                                    <select id="selectGrt7" class="form-control">
                                      <option selected>0</option>
                                    
                                    </select>
                                </div>
                                <div class="col-xl-1 col-md-2">
                                    <div id="ChkRq7" class="form-check">
                                        <input class="form-check-input" type="checkbox">
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radioExtRange7" id="radioExtRangeOff7" value="option1">
                                        <label class="form-check-label" for="radioExtRangeOff7">Off</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radioExtRange7" id="radioExtRangeOn7" value="option2">
                                        <label class="form-check-label" for="radioExtRangeOn7">On</label>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-row">
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                                      <select id="selectLess8" class="form-control">
                                        <option selected>N/A</option>
                                       
                                      </select>
                                  </div>
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                                      <select id="selectGrt8" class="form-control">
                                        <option selected>0</option>
                                      
                                      </select>
                                  </div>
                                  <div class="col-xl-1 col-md-2">
                                      <div id="ChkRq8" class="form-check">
                                          <input class="form-check-input" type="checkbox">
                                        </div>
                                  </div>
                                  <div class="col">
                                      <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="radioExtRange8" id="radioExtRangeOff8" value="option1">
                                          <label class="form-check-label" for="radioExtRangeOff8">Off</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="radioExtRange8" id="radioExtRangeOn8" value="option2">
                                          <label class="form-check-label" for="radioExtRangeOn8">On</label>
                                        </div>
                                    </div>
                                </div>
                              <div class="form-row">
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                                      <select id="selectLess9" class="form-control">
                                        <option selected>N/A</option>
                                       
                                      </select>
                                  </div>
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
                                      <select id="selectGrt9" class="form-control">
                                        <option selected>0</option>
                                      
                                      </select>
                                  </div>
                                  <div class="col-xl-1 col-md-2">
                                      <div id="ChkRq9" class="form-check">
                                          <input class="form-check-input" type="checkbox">
                                        </div>
                                  </div>
                                  <div class="col">
                                      <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="radioExtRange9" id="radioExtRangeOff9" value="option1">
                                          <label class="form-check-label" for="radioExtRangeOff9">Off</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="radioExtRange9" id="radioExtRangeOn9" value="option2">
                                          <label class="form-check-label" for="radioExtRangeOn9">On</label>
                                        </div>
                                    </div>
                                </div>

                                

            </div>
           

      </div>
      <div class="row">
            <div class="col-sm-1 offset-sm-11"><button class="btn btn-primary btn-block" type="button">Save</button></div>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>
